[2016-02-25 11:12] sidkshatriya commented on #2
Since we now have summary and trimmed field formatters also (see https://github.com/Lullabot/amp-module/pull/53 ) we can close this.

[2016-02-25 16:31] weitzman opened #1 "Expand README with project's purpose"
Ideally, the README here says what the code here does. Any further detail can be learned via the links already there.

[2016-02-26 17:38] RainbowArray opened #2 "Change README language regarding Composer"
The section on Composer starts as follows:

[code]

Perhaps change that to something like:

[code]

Saying that setup steps are easy can trip people up when they run into unexpected problems. Not only can a setup step be frustrating, but now they are wondering why this wasn't easy. Better to just simply state what is needed to get started.

Other than that, great README!

[2016-02-26 19:57] #2 closed, assigned to sidkshatriya

[2016-02-26 19:59] sirkitree commented on #1
I think this has been addressed. Please reopen if you see more points needed on the README

[2016-02-26 19:59] #1 closed, assigned to sidkshatriya

[2016-02-27 06:25] sidkshatriya commented on #2
Thanks for the suggestion -- I have made the language better now.

[2016-03-01 09:30] sidkshatriya opened #4 "receives HTML and hands back AMP-HTML for instagram"
(Corresponds to https://github.com/Lullabot/amp-library-issues/issues/13 )

[2016-03-01 09:33] sidkshatriya opened #5 "receives HTML and hands back AMP-HTML for twitter"
Corresponds to https://github.com/Lullabot/amp-library-issues/issues/12

[2016-03-01 10:27] sidkshatriya commented on #4
This is basically done. See PR #6 for more details and some documentation.

The only caveat is that height/width assignment on the instagram tag is a bit of a hack. Its currently working but it could be made more generic/smarter.

See: https://github.com/ampproject/amphtml/blob/master/extensions/amp-instagram/amp-instagram.md

Essentially we need to be able to find out the image dimensions of the

[2016-03-01 10:31] sidkshatriya commented on #5
This is basically done. See PR #6 for more details and some documentation.

The only caveat is that height/width assignment on the twitter tag is bit of a hack (like it is for instagram). Its currently working but it could be made more generic/smarter.

https://github.com/ampproject/amphtml/blob/master/extensions/amp-twitter/amp-twitter.md

Now the twitter embed code does not have height/width dat

[2016-03-01 16:54] sirkitree opened #8 "receives HTML and hands back AMP-HTML for analytics"

[2016-03-01 16:54] sirkitree opened #9 "receives HTML and hands back AMP-HTML for youtube"

[2016-03-01 16:54] #4 closed, assigned to sidkshatriya

[2016-03-01 16:55] #5 closed, assigned to sidkshatriya

[2016-03-02 16:07] sidkshatriya commented on #8
@sirkitree @karens
Its a bit confusing what exactly I should do here (from a library perspective). What might need to be converted to the `<amp-analytics>` tag?

If I go to https://developers.google.com/analytics/devguides/collection/analyticsjs/ It gives me various ways I can add the google analytics script to the `<head>` of the document. Then there are javascript snippets like page tracking...

[2016-03-02 16:30] mtift commented on #8
I don't understand why we would need the library to do this. Doesn't this happen in the theme using data from from the admin screen (`admin/config/content/amp`)?

cc @mdrummond

[2016-03-02 16:38] sidkshatriya commented on #8
@mtift
Yes, the AMP module+theme outputs a nice `<amp-analytics>` tag. But the tag is basic and the `<amp-analytics>` tag has many options.

[One could go crazy and the library could parse google analytics javascript code snippets (within `<script>`) (see my comment above) and "convert" them to `<amp-analytics>` tag with more options. But thats a mini project in itself and probably not very useful

[2016-03-02 16:41] RainbowArray commented on #8
This happens in the module, not in the theme. But yes, this should not be anything the library needs to handle.

[2016-03-02 16:41] #8 closed, assigned to nobody

[2016-03-02 16:41] mtift commented on #8
@sidkshatriya I agree. I think all of the configuration should be done in the module and output by the theme. I don't see any benefit of having a library that can parse analytics tags -- certainly not for a beta version, and probably not ever (or until someone can demonstrate a use case).

[2016-03-02 16:47] sidkshatriya commented on #8
Great. Always love a `wonfix` ticket!

Is this something that was agreed in our agreement that the library would do specifically? If so do we need to tell them about it? Do we need to convey that it does not make sense and we can do something like vine or dailymotion etc. etc.?

[2016-03-02 17:05] sirkitree commented on #8
We have a deliverable to "support ... amp-analytics". I suppose that is broad. Is what the module already doing supporting amp-analytics?

[2016-03-02 17:10] sidkshatriya commented on #8
Yes the module+theme outputs a simple `<amp-analytics>` tag with the Google UA code like so:

[code]

[2016-03-02 17:12] sirkitree commented on #8
I think we're okay for now then. This can remain closed. If you run out of things to do with the library, please start helping with the module.

[2016-03-03 01:38] Jaesin opened #11 "Add tests (Basic structure)"
It would be nice to see ci and some tests in this library.

[2016-03-03 08:37] sidkshatriya commented on #11
I agree. We should definitely have tests. Thanks for creating the ticket I was planning to create :-)

cc: @sirkitree

[2016-03-03 10:13] sidkshatriya commented on #9
This is now working and merged to master.

The documentation has been updated to reflect this ( See https://github.com/Lullabot/amp-library/blob/master/README.md#what-is-the-amp-php-library )

![screenshot](https://cloud.githubusercontent.com/assets/638477/13491110/8ef238c2-e156-11e5-8ac0-ead76fbeadfe.png)

Closing ticket. Please re-open as necessary.

[2016-03-03 10:13] #9 closed, assigned to sidkshatriya

[2016-03-03 10:15] sidkshatriya commented on #11
(BTW we probably won't have CI for now though)

[2016-03-03 13:47] sidkshatriya opened #13 "Improve overall friendliness of AMP Warnings reported"
Currently the AMP warnings displayed have line numbers displayed beside them. Line numbers don't have much relevance if the HTML is coming from a rich text editor.

It might be a good idea to provide the HTML of the tag as a "context". The formatting of the message can be made better and more user friendly.

There are a lot more things that can be done here / possibly need to be done here. This wi

[2016-03-03 14:05] sidkshatriya opened #14 "Do more comparisons with canonical validator"
While porting a subset of the [canonical validator](https://github.com/ampproject/amphtml/tree/master/validator) to PHP comparisons were made between the output given by the canonical validator and our (ported) validator.

This exercise should happen again with greater rigour and with more sample HTML documents to ensure that the AMP HTML warnings that we report are correct.

Please note that the

[2016-03-03 14:14] sidkshatriya opened #15 "Make the HTML correction code more sophisticated"
One of the objectives of this library is to find _and_ automatically correct AMP HTML standard non-compliance automatically.

So if a `style` attribute is illegal for a tag, we remove it. If a tag cannot exist in a particular location in the document we remove it and so on.

As mentioned in the `README.md` this correction is currently basic and can be made a bit more sophisticated.

[2016-03-04 11:56] sidkshatriya commented on #13
Warning refactoring has been accomplished to a large degree.
- Instead of bland line numbers we show the context (in form the tag html that is being tweaked) as the first thing
- Instead of showing the validation issues and fixes separately, these are now combined together in one list. When a fix is made, message is "ACTION TAKEN"
- Fixes for one tag are all bunched together
- For greater clarity,

[2016-03-04 12:20] sidkshatriya opened #17 "Document how specification representation is generated"
As a note to future developers please write a note (maybe at DEVELOPERS.md) on how the AMP specification generation representation (`validator-generated.php` ) works.

( We have a fork at `https://github.com/Lullabot/amphtml` which does this )

[2016-03-04 12:31] sidkshatriya commented on #13
I'm going to close this ticket for now. If there are another round of warnings improvements I want to do, I'll open another ticket.

[2016-03-04 12:31] #13 closed, assigned to sidkshatriya

[2016-03-04 14:35] RainbowArray commented on #13
This is a big improvement. Really appreciate the work you put into making these validation comments more helpful. Great job Sid!

[2016-03-04 16:54] sidkshatriya commented on #13
@mdrummond Thanks marc! Appreciate your kind words.

[2016-03-04 17:53] ghost commented on #13
I like this! Definitely more user-friendly :)

[2016-03-05 05:02] sidkshatriya commented on #15
For Phase 1 of the project I plan to spend very minimal time for this. We may end up leaving it as it is currently or at most add some small tweaks.

Large increases in the sophistication of the "corrector" (e.g. additive correction in which we add missing tags rather than just removing bad tags and attributes, more intelligent correction of bad tag and attributes) is something that could be done

[2016-03-05 05:04] sidkshatriya commented on #14
I think this is a good ticket to work on in the remaining time we have -- it will ensure that our validator is robust. It will help iron out any remaining bugs.

cc: @sirkitree

[2016-03-05 05:05] sidkshatriya commented on #11
Need to have a discussion with @sirkitree if we need to do this in Phase 1 or we can park this for a Phase 2.

[2016-03-07 15:04] sirkitree commented on #15
Agreed, thanks @sidkshatriya

[2016-03-07 15:05] sirkitree commented on #14
I'm not quite understanding how or why there would be two validators. If we already have one, that is sufficient for our purposes.

[2016-03-07 15:06] sirkitree commented on #11
This does not need to be done for phase 1, but would be a good candidate for phase 2 of the project.

[2016-03-07 15:34] sidkshatriya commented on #14
@sirkitree Basically all I want to do here is compare the results of our (ported PHP) validator with that the canonical validator ( https://github.com/ampproject/amphtml/blob/master/validator/validator.js ) on various sample HTML documents. ( The canonical validator is the "second" validator here).

This is just a correctness thing to make sure that our PHP validator is doing things correctly. In

[2016-03-07 15:55] sidkshatriya commented on #11
Parking this ticket for now. No work will be done on this for Phase 1.

[2016-03-08 11:04] sidkshatriya commented on #15
The correction code was improved and made a bit more sophisticated:
- The correction code now deals with invalid or disallowed property value pairs in attributes; it removes these property pairs without disturbing other property value pairs in the same attribute
- The correction code was refactored in many places and is just generally cleaner and more robust
- If a mandatory property is missing fr

[2016-03-08 11:04] #15 closed, assigned to sidkshatriya

[2016-03-08 11:08] sidkshatriya commented on #14
During testing, some small bugs (some were quite subtle) were discovered and were fixed.

Refactoring was also done to simplify logic and lastly there were some cleanups to remove some "lints" in the code.

See PR #18 to see changes made (which also has correction logic improvements)

This is complete.

[2016-03-08 11:08] #14 closed, assigned to sidkshatriya

[2016-03-08 13:26] ghost opened #19 "Set up library on Packagist"
I started trying to set this up on Packagist and got the following error when I tried:

"Uncaught Exception: [RuntimeException] The HOME or COMPOSER_HOME environment variable must be set for composer to run correctly"

I think we need something added to composer.json to make packagist happy.

[2016-03-08 13:59] sidkshatriya commented on #19
I'll investigate what the issue is here...

[2016-03-08 15:50] sidkshatriya opened #20 "Run the Full HTML page through the library"
We discussed this on the call. We should run the Full HTML page through the library on amp paths on Drupal 8.

While the library will strip out any bad attributes, bad tags and bad property value pairs it does not know how to "add" things that would fix any potential problems. So you have two situations:
- An AMP page whose Full HTML was processed by the library, compliant in many more ways (but _

[2016-03-08 16:00] sidkshatriya commented on #20
Also @mdrummond has the main code on the module side that accomplishes this. This needs to be tested and fine tuned for any problems on both the module side and the library side.

[2016-03-11 08:58] sidkshatriya commented on #20
To implement this we need changes both in the AMP library and AMP module.

The above PR represents the changes in the library. It contains fixes and improvements to the library that happened while Full HTML mode was being tested. The chief new improvement is the ability to add `<script>` tags in `<head>` if the amp custom tags sneaked out from somewhere _without_ the amp module being able to add t

[2016-03-11 10:38] sidkshatriya commented on #20
@mdrummond @mtift Full HTML page processing ready to test on your localhost (Request your help in testing this please!)

Please make sure your library and module have the latest `master` and `8.x-1.x` branch commits respectively. Currently the Full HTML conversion is disabled by default and needs to be enabled in AMP config.

As discussed, we will make Full HTML page processing _enabled_ by defaul

[2016-03-11 15:39] mtift commented on #20
:+1: NIce work, @sidkshatriya!

[2016-03-11 16:17] sidkshatriya opened #22 "PHP Notice from the Mastermind HTML5 library"
We keep getting this pesky PHP notice. It needs to hunted down and made to go away.

[code]

As far as I can tell, this specific notice does not cause any problems in the AMP HTML output but we still need to try to figure out why it occurs and how to make it go away. Its probably something simple like the code of the html5 library like not doing an `isset` / `!empty` check before using the variabl

[2016-03-14 12:12] sidkshatriya commented on #22
The PHP dom html parser and the mastermind html5 output serializer don't play nice together when you have tags nested within `<noscript>` in `<head>`.

Along with the PHP notice, an empty `<noscript>` tag was outputted in `<head>` . In other words this was not a totally benign notice but a small bug that should be resolved now.

This is a subtle issue and a workaround has been implemented in the a

[2016-03-15 08:33] sidkshatriya commented on #22
I've implemented a much more efficient workaround for the `<noscript>` issue by implementing a new Pass (`Lullabot\AMP\Pass\NoscriptTagWorkaroundPass` ).

This avoids re-parsing of the whole page html (which is great!). See above commit for details.

[2016-03-15 08:33] #22 closed, assigned to sidkshatriya

[2016-03-15 09:01] sidkshatriya commented on #20
Seems like things are working fine on this. Closing. Please re-open as necessary or assign a new bug if there are issues.

[2016-03-15 09:01] #20 closed, assigned to sidkshatriya

[2016-03-17 08:30] sidkshatriya opened #24 "Add AMP Library statistics in form of an HTML comment in DOM"
When the AMP library is run, it would be a good idea to see for performance tracking and understanding (for cache purposes) when a page was processed by the AMP library
- At what time did the AMP Library process the html fragment or html document (good for understanding when a page was last cached)
- How much time did the AMP Tag conversion take?
- How many tags were processed?
- Was `memory_get_p

[2016-03-17 10:05] sidkshatriya commented on #24
This is complete. If you want statistics then all you need to do is pass

[code]

If you're interested in the Drupal side of this work please check https://www.drupal.org/node/2685509#comment-10978419

![time_taken](https://cloud.githubusercontent.com/assets/638477/13842647/56b8cb10-ec55-11e5-8312-eb52f6b4671f.png)

Closing.

FYI cc: @mdrummond @mtift

[2016-03-17 10:05] #24 closed, assigned to sidkshatriya

[2016-03-17 10:32] sidkshatriya commented on #24
P.S. The origin of this ticket is @mdrummond's query a long time ago on how long does the validation+fixing take. At that point I had said "I don't know" -- now we have the tools to know that.

With PHP 7.0 with built in opcache (and xdebug disabled), validation+fixing of the full page HTML:
- a (medium sized) ~130 html tag document takes ~30 milliseconds
- a (much larger) ~1000 html tag document

[2016-03-18 10:19] knolpad opened #26 "Non Drupal PHP project"
Hi,

I have a non-Drupal PHP website. It basically generates HTML files on the fly fetching from mysql database. In addition I have over 500 million HTML files that are generated on the fly as well. In case if you wondering what website is he talking about, head over to XYZCalledYou.com.

I am looking for an automated AMP HTML file creation integration.

I was this close to finishing, but converti

[2016-03-18 12:40] sidkshatriya commented on #24
I totally forgot to mention that the AMP Library will try to get the image dimensions if these are not available. So it might need to make some network calls and these network calls would probably dominate the AMP conversion time.

[2016-03-18 14:48] sidkshatriya opened #27 "Image dimensions for non-absolute URLs"
The library should be able to handle conversion of `<img>` tags to `<amp-img>` tags even if the URLs are non-absolute. E.g. `<img src="/abc/xyz.jpg" />` in that case the image dimensions should be attempted to be retrieved from the `http://server-url.com/abc/xyz.jpg`. The server url can be ascertained from the `$_SERVER` super globals.

Similarly it should be able to handle relative paths e.g. `<i

[2016-03-18 14:48] sirkitree commented on #26
Thank you, but we're not really interested in your custom implementation at this time. If you have questions regarding the operation of this library or suggestions for improvements, we'd be happy to collaborate.

[2016-03-18 14:48] #26 closed, assigned to nobody

[2016-03-18 14:49] sidkshatriya commented on #27
(Note that image dimensions need to be retrieved successfully to show the `<amp-img>` tag)

[2016-03-18 15:05] sidkshatriya commented on #27
This is complete. non-absolute urls are dealt with properly without any external config.

The user can still pass in options to override this "automatic" behavior. I will document that later.

[2016-03-18 15:05] #27 closed, assigned to sidkshatriya

[2016-03-19 08:24] sidkshatriya commented on #24
[Additional documentation on performance for those who may be interested]

The times noted above for Full HTML conversion are essentially DOM validation and fixing processing time (and _not_ network waiting time) of sample Full HTML pages. This is what we were interested in measuring as that is the only parameter we have any direct control on. If there are any img tags to be converted to amp-img t

[2016-03-19 08:29] sidkshatriya commented on #24
To be more specific, the library conversion routines for full html conversion _will_ run, but only once for anonymous users. The next time they will be served out of the cache.

[2016-03-24 16:30] RainbowArray opened #29 "Duplicate amp component JS in full html"
In Drupal 7, I'm seeing an error where the script tags for component JS are being added a second time when full HTML processing is turned on. I'm not seeing this error in Drupal 8. Examples include amp-iframe, amp-twitter, and amp-analytics. In Drupal 7, the tags are initially added to $head which appears towards the top of the head element. In Drupal 8, the tags are output by the JS placeholder,

[2016-03-24 17:38] sidkshatriya commented on #29
@mdrummond I looked at this. It turns out this is a problem with the D7 amp module. The D7 module behavior is different from the D8 module behavior.

While D8 outputs `<script>` tags as `<script src="..." async></script>` (which is correct)
D7 outputs `<script src="..." async=async></script>`

The wrong async attribute value  causes the validator to think the amp-iframe script tag is incorrect and

[2016-03-24 17:38] #29 closed, assigned to sidkshatriya

[2016-03-27 08:47] RainbowArray opened #30 "Should .git folder be downloaded with Composer?"
When I installed this via Composer and uploaded the files to a server, I received an error about a git submodule being within my repo. I looked into the amp library files in the repo and found a .git directory within the amp php library directory, which seemed unlike the other libraries in my vendors directory. Once I removed the .git directory, I was able to upload the library to the server witho

[2016-03-28 12:36] sidkshatriya commented on #19
This is a local machine issue. On your local machine the environment variable HOME should be set to something. e.g. `env | grep HOME` should output something. See the comment https://github.com/composer/packagist/issues/393#issuecomment-132003244 for instance

Anyways see https://github.com/Lullabot/amp-library/issues/30 for further discussion on having the amp library on packagist.

[2016-03-28 12:36] #19 closed, assigned to nobody

[2016-03-28 12:46] sidkshatriya commented on #30
This is not a bug. The module `composer.json` has

[code]

What that means is that composer will get the amp-library source from git (github) instead of packagist (this workflow had originally been suggested by @karens ). This what allowed us to use composer without putting it up on packagist. The other vendor folders without .git are hosted by packagist.

Have we guys got a Lullabot account on pa

[2016-03-28 12:55] sidkshatriya commented on #30
If we're setting this up on packagist we should also consider setting a github hook as suggested here: https://packagist.org/about#how-to-update-packages

We also don't seem to lose the ability to simply track a branch instead of a version tag ( https://packagist.org/about )

[2016-03-28 13:04] sidkshatriya commented on #30
Another point, if we're going with packagist we should tag the AMP library as something like 1.0.0-beta1 perhaps?

The `composer.json` in D7 and D8 modules will now need to be changed to remove the snippet above and require 1.0.0-beta1

[2016-03-29 15:01] ghost commented on #30
Packagist is set up now, https://packagist.org/packages/lullabot/amp. I also set up the web service to automatically update packagist. We could update the module to retrieve the library from packagist now. If so we may want to create a tag.

[2016-03-29 15:06] ghost commented on #30
We could also just track the branch instead of a tag, might be easier with all the changes

[2016-03-29 15:57] RainbowArray commented on #30
I think branch sounds easier than a tag. Otherwise we will need to make lots and lots of modules to keep up with the library changes.

Thanks for setting this up on Packagist!

[2016-03-29 18:37] sidkshatriya commented on #30
@karens Thanks for creating the package on packagist!

@mdrummond Yes, I agree that we should track the master branch in our D7 and D8 modules. But this does _not_ solve our .git folder problem:

As an experiment for the D8 module I did:

[code]

Then I proceed to nuke my composer cache, composer lock file, vendor directory to make sure that I have a fresh slate. Doing `composer install` _still_ r

[2016-03-29 18:46] sidkshatriya commented on #30
There is another advantage with the "1.0.*" approach in that you can tag known "good" versions and keep updating the master branch without too much worry.

[2016-03-29 19:01] RainbowArray commented on #30
I think it probably makes sense to start tagging versions for the library.
That seems more akin to what other projects do. It seems like a pretty
common workflow to put a certain range of versions into composer. Needing
to use prefer-dist command feels like a kludge. If this was earlier in the
development cycle that might make sense, but I think the library is a lot
more stable now, so versions se

[2016-03-29 19:04] sidkshatriya commented on #30
@karens and I had a discussion on slack. We share your point of view. Will update D7 and D8 `composer.json` now to require `1.0.*` and remove the `repositories` section in composer.json

[2016-03-29 19:29] sidkshatriya commented on #30
This is complete:
- Updated D7 and D8 module composer.json
  http://drupalcode.org/project/amp.git/commit/55efec0
  http://drupalcode.org/project/amp.git/commit/ccb0309
- Updated README.md

[2016-03-29 19:29] #30 closed, assigned to sidkshatriya

[2016-04-07 18:18] mtift opened #32 "Reconsider the project license"
Per https://www.drupal.org/node/2702125, we need to change LICENSE.txt to GPLv2

[2016-04-07 18:55] mtift commented on #32
See also https://github.com/Lullabot/amp-library-issues/issues/4

[2016-04-07 19:22] mtift commented on #32
Here is some more information from the chair of Drupal's [Licensing Working Group](https://www.drupal.org/governance/licensing-working-group):

[2016-05-05 09:15] sidkshatriya opened #34 "Implement iframe tag conversion for soundcloud embed"
The soundcloud embed code looks something like this:

[code]

The specifications of the `<amp-soundcloud>` tag can be found here:
https://www.ampproject.org/docs/reference/extended/amp-soundcloud.html

Write a pass that will detect a soundcloud iframe and convert it into a `<amp-soundcloud>` tag with the appropriate javascript include.

[2016-05-05 09:30] sidkshatriya opened #35 "Expand to the full range of validation such as CSS, Layout, Template, and CDATA"
Our AMP HTML validator does not currently validate _all_ aspects of the HTML to make sure it conforms to the AMP HTML standard.

CSS, Layout, Template, CDATA validations are still pending and should be implemented.

This is large task but can be listed under one ticket for now. (I'll create separate tickets if required as we go along).

[2016-05-05 12:40] sidkshatriya opened #36 "Update PHP validator code to latest version of the specification"
The AMP HTML specification is continuously changing. New tags are being introduced and the way existing tags are being validated is changing too.

Our PHP validator is based on the canonical javascript validator. We need to need to update our port to tackle non-trivial changes in the way the specification is validated (simple changes should automatically work when validator-generated.php is update

[2016-05-05 12:49] sidkshatriya commented on #34
This is blocked on #36

[2016-05-06 12:37] sidkshatriya commented on #34
`<amp-soundcloud>` is basically working now. See #37.

[2016-05-10 09:36] sidkshatriya opened #39 "Implement iframe tag conversion for Vine"
Convert Vine embed code to `<amp-vine>` tag

[2016-05-10 10:15] sidkshatriya commented on #34
This is looking fine. Merged to to `update-validator` branch.

[2016-05-10 10:15] #34 closed, assigned to sidkshatriya

[2016-05-10 10:24] sidkshatriya commented on #32
There have been no updates on this issue for quite some time.

License remains unchanged i.e. Apache 2. Will re-open this ticket in case there are any further developments on this.

[2016-05-10 10:24] #32 closed, assigned to nobody

[2016-05-10 11:34] sidkshatriya commented on #39
This is working. See #41.

[2016-05-10 11:34] #39 closed, assigned to sidkshatriya

[2016-05-10 12:21] sidkshatriya opened #42 "Implement embed code conversion for dailymotion"
See https://www.ampproject.org/docs/reference/extended/amp-dailymotion.html

[2016-05-10 12:35] sidkshatriya commented on #42
This is working now. See #43

[2016-05-10 12:35] #42 closed, assigned to sidkshatriya

[2016-05-10 13:33] sidkshatriya opened #44 "Advanced features for dailymotion embed conversion"
There are some advanced features for embed code conversion that are supported by the `<amp-dailymotion>` tag. These have not been implemented in #42

See:
https://developer.dailymotion.com/player#player-parameters
and
https://www.ampproject.org/docs/reference/extended/amp-dailymotion.html

e.g. start time, ui hightlight, ui logo etc.

We should support these.

[2016-05-10 13:35] sidkshatriya commented on #44
BTW these should not be very difficult to support.

[2016-05-10 16:30] sidkshatriya commented on #44
This is done.

[2016-05-10 16:30] #44 closed, assigned to sidkshatriya

[2016-05-10 16:52] sidkshatriya opened #46 "Support for pinterest embed code conversion to amp-pinterest tag"
Add support for pinterest embed code conversion to `<amp-pinterest>`

See
https://www.ampproject.org/docs/reference/extended/amp-pinterest.html
Also see
https://developers.pinterest.com/tools/widget-builder/

[2016-05-11 11:21] dermario opened #48 "Encoding problems on Ubuntu 12.04 LTS (libxml 2.7.8)"
I am using the amp module for Drupal 7 and i'm facing an encoding issue when using that in my hosting environment. I did a lot of research and debugging and i narrowed down the problem to the native DomDocument - implementation.

I already created an issue on d.o for that: https://www.drupal.org/node/2712895

`AMP::convertToAmpHtml()` calls `$qp = QueryPath::withHTML($document, NULL, ['convert_to_

[2016-05-11 11:44] sidkshatriya commented on #48
Hmm...I wonder what the problem is here. Ideally you shouldn't need to convert to HTML-ENTITIES in the above fashion. What is your original HTML (before any AMP formatter has run)?

As you point out on https://www.drupal.org/node/2712895#comment-11134411 , the problem occurs on Acquia Cloud only and works fine on your localhost (without any code modifications required).

[2016-05-11 11:57] sidkshatriya commented on #48
Don't worry about the API version being 20031129. Even in PHP 7, it list the API version as 20031129.

The main question is:
- What PHP version are you using on localhost and what version are you using on Acquia Cloud
- What is the libxml version on localhost and what is the version on Acquia Cloud

You would need to do go to the following links in your browser:

[code]

Have you tried switching t

[2016-05-11 12:11] dermario commented on #48
This is the script i tested with:

[code]

On Acquia cloud we are running PHP 5.6.19 with libxml version 2.7.8
![libxml-acquia-cloud](https://cloud.githubusercontent.com/assets/8972530/15180422/d2f45328-1781-11e6-911b-dbd8351d9b80.png)

On my local i am running 5.6.15-1+deb.sury.org~trusty+1 with libxml version 2.9.1
![libxml-local](https://cloud.githubusercontent.com/assets/8972530/15180427/d896e

[2016-05-11 12:17] dermario commented on #48
We just tested locally against a very old installation (PHP 5.4.45) with libxml 2.7.6. We are facing exact the same encoding problems as on Acquia Cloud.

[2016-05-11 12:18] sidkshatriya commented on #48
What happens when you remove the line

[code]

[2016-05-11 12:30] dermario commented on #48
Removing the line mentioned above doesn't change the behaviour. Umlauts are the same way broken:

_ Dies liess der heute 64-JÃ¤hrige nicht auf sich sitzen_

[2016-05-11 12:44] sidkshatriya commented on #48
In this snippet above there is no AMP stuff happening at all but you're able to get broken umlauts.

Presumably this is because of the old libxml. Why is Acquia using an old libxml when I see that ubuntu 14.04 (trusty) is also using 2.9.1 ? (Is this a plain vanilla installation on your localhost) ?

What about raising a ticket with Acquia and asking when whats up with their libxml ? (My localhost

[2016-05-11 13:16] dermario commented on #48
I can rewrite my snipped to use the AMP the way the Drupal module does. The result would be the same. My indention was to reduce the problem to the absolute minimum. This is what AMP does at the end.

Ubuntu 14.04 comes with libxml 2.9.1 but 12.04 (LTS) is still on 2.7.8. My local machine is Ubuntu 14.04 and our Acquia environment is still 12.04. I have tried a different Ubuntu 12.04 server, that

[2016-05-11 13:44] sidkshatriya commented on #46
This is basically working.

Not closing the ticket right now -- there is display related issue for large pins. I don't think that this due to anything wrong with our code. Rather enough space may not be available. However, just keeping ticket open for now.

Please note that we're only implementing pins for pinterest. We're not implementing pinterest buttons (analogous to facebook like buttons).

[2016-05-11 14:26] sidkshatriya opened #49 "Support vimeo embed code conversion"
Sample embed code

[code]

Sample amp-vimeo tag see https://github.com/ampproject/amphtml/blob/master/extensions/amp-vimeo/amp-vimeo.md

[2016-05-11 14:36] sidkshatriya commented on #49
This is working.

[2016-05-11 14:36] #49 closed, assigned to sidkshatriya

[2016-05-11 14:53] dermario commented on #48
Here is the snippet using the AMP PHP library:

[code]

On Ubuntu 12.04 with libxml 2.7.8  that results in:

[code]

[2016-05-11 15:26] sidkshatriya commented on #48
With libxml 2.9.0 I get

[code]

(which is correct)

[2016-05-11 15:31] sidkshatriya commented on #48
I'll leave this ticket open for now -- encoding issues are very hairy. There is a known workaround as mentioned by you.

It would great if you filed a bug report with Acquia and ask them why they are using such an old libxml.

[2016-05-11 15:54] dermario commented on #48
I already filed a bug report at Acquia. The reason why they use libxml 2.8.7 is that it is bundled to Ubuntu 12.04 upgrading to Ubuntu 14.04 now is not an option.

And

I personally like the idea of having ubuntu 12.04 in this library. But maybe i am the only one using AMP on Drupal  and Ubuntu 12.04

[2016-05-12 05:40] sidkshatriya commented on #11
General Plan
- Use `phpunit`
- All tests will be in the GIT_ROOT/tests directory
- Separate fragment and full html tests
- Use html for tests from https://github.com/ampproject/amphtml/tree/master/validator/testdata/feature_tests

The scope of this ticket would be to setup a few basic tests and generally get this working. We'll need to keep adding tests as we go along.

[2016-05-12 05:44] sidkshatriya commented on #48
Thanks for taking the time in reporting this problem to us and Acquia.

As mentioned I'll leave this ticket open for now -- I'll do some more research on whether there might be a more optimal way to solve this issue other than the workaround you mentioned.

[2016-05-12 10:31] sidkshatriya commented on #11
Basic testing structure is in place with 2 tests. This was probably the most important part. Now all we need to do is keep adding more tests along with expected output.
- The testing code automatically picks up html fragments and whole documents for testing placed in `tests/test-data/full-html`and `tests/test-data/fragment-html` folders
- Currently there is one full html document test and one frag

[2016-05-12 10:31] #11 closed, assigned to sidkshatriya

[2016-05-12 10:35] sidkshatriya opened #52 "Make a good test suite"
Now that basic testing infrastructure with sample tests is in place (See #11), please make a decent test suite.

After that is done, the `update-validator` branch can be confidently merged into master. (See PR #38)

[2016-05-14 07:11] sidkshatriya commented on #52
Some new tests have been added -- we now have 6 tests (4 fragment and 2 full html).

There is also a new utility script `regen` (please see 6e37780). This script is useful when you want to automatically regenerate a specific `.out` file or all `.out` files. This would happen when a new feature or behaviour would be introduced in the validator which may change validator output and therefore require

[2016-05-16 11:31] sidkshatriya opened #53 "Remove workaround for noscript tag (issue with tags being escaped)"
In #22 there was a subtle workaround for `<noscript>` tags due to a problem with the `mastermind/html5` library versions < 2.2.0

Now that the upstream library has fixed its bug as of 2.2.0 we need to _remove_ this workaround. (See release 2.2.0 https://github.com/Masterminds/html5-php/releases/tag/2.2.0 . Also https://github.com/Masterminds/html5-php/issues/98 ).

_Not_ removing the workaround an

[2016-05-16 12:09] sidkshatriya commented on #53
This was a tricky one. However, the fix is not yet visible to the world even though I've pushed this out to master...

@karens @sirkitree
I know one of you setup a github trigger from the amp-library to packagist. The trigger is supposed to update https://packagist.org/packages/lullabot/amp with the latest commit / tags whenever there is a push to the github repo.

The trigger does not seem to be

[2016-05-17 07:28] sidkshatriya commented on #53
The github triggers now work (pushes to master update the dev-master association on packagist and so forth) I don't know if this is something that was restored by us or was temporarily failing on packagist itself.

Anyways all is well now. Closing.

[2016-05-17 07:28] #53 closed, assigned to sidkshatriya

[2016-05-17 08:08] sidkshatriya commented on #53
_Note for Drupal users_:

If you have installed the `amp` module (and its dependencies such as the amp-library) by following the instructions on https://www.drupal.org/project/amp then you can get this fix (and any future changes) by

[code]

[2016-05-17 08:38] sidkshatriya commented on #53
_Note for Drupal users (Part 2)_:

Lastly, if you're using a pure composer based distribution like Acquia Lightning ( https://www.drupal.org/project/lightning )

[code]

[2016-05-17 08:49] sidkshatriya opened #54 "Add documentation on how to run tests"
Add a small amount of documentation so that people know how to run tests

[2016-05-18 07:50] sidkshatriya opened #55 "Choose between competing errors like canonical validator"
When a tag matches a specification then its is correct -- no problems.

When a tag does not satisfy any specifications, then there are competing tag specifications (e.g. `amp-audio > track` vs `audio > track` ) from which errors must be presented.

The amp php library should select the errors in a similar way that the canonical validator does. Otherwise, the output of the php validator may be less

[2016-05-18 08:13] #55 closed, assigned to sidkshatriya

[2016-05-18 13:36] sidkshatriya opened #57 "Update documentation after merge of PR #38"
As there are some new embed code conversions, please update documentation. Also add basic instructions for running tests.

[2016-05-18 14:32] sidkshatriya commented on #57
Documentation has been updated and PR merged to master. Closing.

[2016-05-18 14:32] #57 closed, assigned to sidkshatriya

[2016-05-18 15:02] sidkshatriya commented on #54
Added a short mention on the the [`README.md`](https://github.com/Lullabot/amp-library/blob/master/README.md) on how to run the tests.

[2016-05-18 15:02] #54 closed, assigned to sidkshatriya

[2016-05-18 16:23] sidkshatriya commented on #17
This ticket is complete. The documentation was written at https://github.com/Lullabot/amp-library/blob/master/src/Spec/README.md

Closing.

[2016-05-18 16:23] #17 closed, assigned to nobody

[2016-05-19 13:03] sidkshatriya opened #60 "Attribute value validation refactoring and bug fix"
- Refactor attribute value validation related code in line with canonical validator
- Support `attribute-name="attribute-value"` style when `attribute-name=''` e.g. `noloading="noloading"`

[2016-05-19 13:06] sidkshatriya commented on #60
This is complete and merged to master

[2016-05-19 13:06] #60 closed, assigned to sidkshatriya

[2016-05-19 13:10] sidkshatriya commented on #52
I think we've achieved our goal to have a good test suite. With the recent addition of a few more tests our tally of total tests checked into git is now 31 !!

I'll keep adding tests as necessary as we continue on this project. But we can close up this ticket though.

[2016-05-19 13:10] #52 closed, assigned to sidkshatriya

[2016-05-19 13:22] sidkshatriya opened #62 "audio to amp-audio tag conversion"
Implement audio to amp-audio tag conversion

[2016-05-19 13:23] sidkshatriya opened #63 "video to amp-video tag conversion"
Implement video to amp-video tag conversion

[2016-05-19 13:42] sidkshatriya opened #64 "Fix bugs in child tag validation"
- Child tag validation code is being called from wrong location
- number of child tags is not being compared properly with number of mandatory child tags

This came to light when run test on:
https://github.com/ampproject/amphtml/blob/27ee29ffc3d809fcc8143044d22df9d176ad8169/extensions/amp-accordion/0.1/test/validator-amp-accordion.html

And comparing output against:
https://github.com/ampproject/

[2016-05-19 13:46] sidkshatriya commented on #64
This is fixed. Test has also been added (see pull request). Closing.

[2016-05-19 13:46] #64 closed, assigned to sidkshatriya

[2016-05-20 08:31] sidkshatriya opened #66 "Fix bug with attribute trigger specs"
Attribute trigger specs is a new feature that was implemented in our PHP validator recently.

In protoascii language it looks like [this](https://github.com/ampproject/amphtml/blob/299c2187825b1212464aaf4765f665793ae129f2/validator/validator-main.protoascii#L2345)

[code]

Essentially, _if_ there is an attribute "on" on a tag, and its value starts with "tap:" then we should also require attributes

[2016-05-20 08:46] sidkshatriya commented on #66
This is complete. See [`lullabot/amphtml`](https://github.com/Lullabot/amphtml/tree/php-validator-generated/validator) for changes made there.

[2016-05-20 08:46] #66 closed, assigned to sidkshatriya

[2016-05-20 08:56] sidkshatriya commented on #66
We are now using `spec_file_revision: 219` of `validator-main.protoascii` (was 212 earlier)

[2016-05-24 10:10] sidkshatriya opened #68 "Provide better HTML5 support and add workaround for line numbers"
While working on #62 I encountered problems related to the AMP library's support for HTML5. The main issue is that we're using the inbuilt HTML parser of PHP DOM (libxml version is 2.9.0).

The following does not parse properly for instance:

[code]

(The above HTML actually parses without any fatal errors but the parse tree is not correct).

This HTML needs to be changed to:

[code]

Notice that

[2016-05-24 11:17] sidkshatriya commented on #68
This is quite an intrusive change though its basically done.

I wont be merging this to master yet. I want to do more testing and make sure things are robust enough.

[2016-05-25 15:11] sidkshatriya commented on #68
Merged to master. Closing.

[2016-05-25 15:11] #68 closed, assigned to sidkshatriya

[2016-05-25 16:07] sidkshatriya commented on #48
@dsayswhat @scuts **TL;DR** The latest release of the library will work with libxml 2.7.8 without any workarounds.

Please test on your setup and confirm!

To test this, I installed a fresh Ubuntu 12.04 virtual machine instance. I had to compile PHP 5.5, 5.6 & 7.0 from source (with libxml 2.7.8) as 12.04 is bundled with PHP 5.3 (we only support PHP 5.5+)

[code]

This is working now because we're

[2016-05-25 16:07] #48 closed, assigned to sidkshatriya

[2016-05-26 05:13] sidkshatriya opened #71 "Fix subtle issue with startTag return value"
This is small, subtle bug. Make sure we return the same value `AMPDOMTreeBuilder::startTag()` that `DOMTreeBuilder::startTag()` returns

[2016-05-26 05:44] sidkshatriya commented on #71
This is fixed and on master branch. Closing.

[2016-05-26 05:44] #71 closed, assigned to sidkshatriya

[2016-05-26 06:41] sidkshatriya opened #72 "Refactor AMP class and fix diffing"
The AMP class is getting unwieldy. There is a lot of scope for refactoring code into smaller functions. Do this. Additionally, we have a facility to be able to `diff` the initial HTML input with the AMPized output HTML. This feature has some issues -- address them.

[2016-05-26 07:17] sidkshatriya commented on #72
The code refactoring has been done and issues with diff output have been fixed.

Here is an example of diff output before.

[code]

This is the diff output now. Notice how streamlined and useful it is. The previous output was quite useless due to formatting issues (which increased the diff shown when the "actual" diff was much less)

[code]

Code was merged to master. Closing.

[2016-05-26 07:17] #72 closed, assigned to sidkshatriya

[2016-05-26 11:29] sidkshatriya commented on #62
Done.

[2016-05-26 11:29] #62 closed, assigned to sidkshatriya

[2016-05-27 11:35] sidkshatriya opened #75 "Add support for CDATA validation"
Add support for CDATA validation with tests. This type of validation supports validation of the contents of tags e.g. this would catch scenarios like the use of  `!important` in css within style tags (which is not allowed). This uses things like a allowed data regex and a blacklist regex

This does _not_ cover all of the scenarios for CSS validation. Some CSS validation will need to wait for  more

[2016-05-27 11:36] sidkshatriya commented on #35
As mentioned above this is a huge ticket and I'm going to break down the tasks in this ticket. For now we have "Add support for CDATA validation #75" as a sub-ticket.

[2016-05-27 11:54] sidkshatriya commented on #75
Done and merged to master.

[2016-05-27 11:54] #75 closed, assigned to sidkshatriya

[2016-05-27 11:59] sidkshatriya commented on #35
Ticket #75 is now complete and merged.

[2016-05-30 06:43] sidkshatriya opened #77 "CSS validation (css_spec validation)"
(This ticket is part of the omnibus ticket #35 )

In CSS validation we validate the CSS in the amp page. Some of the things that are _not_ allowed are: `@imports` in your CSS, various rules around `url()` in your CSS and so forth. Please add functionality to support this CSS validation. See https://github.com/ampproject/amphtml/blob/master/spec/amp-html-format.md#stylesheets for a longer list.

He

[2016-05-30 06:54] sidkshatriya commented on #35
A ticket has been created as sub-ticket (See #77) on css_spec validation

[2016-05-31 07:34] sidkshatriya opened #79 "Modifications to support line numbers within CSS"
As discussed in https://github.com/Lullabot/amp-library/pull/78#issuecomment-222490369

So we need to make two changes:
- Make changes to our fork ( https://github.com/Lullabot/PHP-CSS-Parser) of `sabberworm/php-css-parser` to support line numbers. (This could later be submitted as a pull request upstream; but composer allows us to point to our repo if we need to also)
- Make changes to our amp-li

[2016-05-31 13:34] sidkshatriya commented on #77
With the merge of the PR #78 into master branch we now have more advanced features of CSS validation like invalid @ rules (e.g. @import not allowed) or URL validation(of the `url()` ) within the CSS style sheets. There are some more usability enhancements in the pipeline planned under #79 but we should be able to close this particular ticket.

[2016-05-31 14:37] sidkshatriya commented on #79
You may track the `sabberworm/php-css-parser` related changes in https://github.com/Lullabot/PHP-CSS-Parser/tree/line-number-support-in-css-objects

PR #80 should be run only in conjunction with the above branch.

[2016-06-01 11:23] sidkshatriya opened #81 "Code coverage related tweaks"
- [x] Add a basic `phpunit.xml` configuration file to whitelist the files we want to do code coverage on
- [x] Find out why `ParsedUrlSpecStylesheetErrorAdapter.php` does not get any code coverage statistics when it is very obviously being called

[2016-06-01 11:57] sidkshatriya commented on #81
The issue why there was no code coverage for `ParsedUrlSpecStylesheetErrorAdapter.php` was frustrating to track down but has now been resolved!

Initially I thought it was due to bugs in `phpunit/php-code-coverage` or `phpunit/phpunit` so I tried various version combinations with no avail; recompiling xdebug etc. (xdebug provides the code coverage data). There was simply no code coverage informati

[2016-06-01 12:00] sidkshatriya commented on #81
BTW you can run code coverage in the following fashion:

(Make sure you have the xdebug extension installed)

[code]

[2016-06-01 12:00] #81 closed, assigned to sidkshatriya

[2016-06-01 12:52] sidkshatriya opened #83 "Add layout validation"
Add Layout validation to our library by porting over relevant code from the amphtml project.

To know what layouts in AMP are, here is a useful link:
https://github.com/ampproject/amphtml/blob/master/spec/amp-html-layout.md

(This is subticket of #35)

[2016-06-01 12:53] sidkshatriya commented on #35
Layout validation #83 has been added as a subticket of this ticket.

[2016-06-01 16:47] sidkshatriya commented on #36
The canonical JavaScript validator is an ever moving target. We have made very good progress in folding in some of the recent important changes in the canonical validator under the aegis of this ticket. We can probably close this  ticket now.

**Note**: It is _not_ our goal that the AMP PHP library reach feature parity with the Javascript validator in every respect. There will always be things or

[2016-06-01 16:47] #36 closed, assigned to sidkshatriya

[2016-06-02 07:38] sidkshatriya commented on #83
Layout validation feature is complete and was merged to master.

There are 2 new layout validation related tests from the amphtml project (See PR #84)

Closing ticket.

[2016-06-02 07:38] #83 closed, assigned to sidkshatriya

[2016-06-02 08:01] sidkshatriya opened #85 "Add support for Template validation"
Add support for Template validation

(This is a subticket of #35)

[2016-06-02 08:08] sidkshatriya commented on #35
Layout validation is complete and merged. So whats pending as part of this ticket is:
- Template validation (#85)

Note that there are some pending enhancement to CSS validation (see #79). CSS validation is already available and merged (see #77). Strictly speaking, enhancements in #79 are not really part of this ticket, so once template validation is completed, we can close this ticket.

[2016-06-02 08:17] sidkshatriya opened #86 "Add continuous integration"
Add continuous integration.

Most probably we can use TravisCI as its hosted and works well with composer and phpunit

[2016-06-02 10:09] sidkshatriya commented on #77
_Note_: Even though we've closed this ticket, there are many CSS validation error codes that we don't issue e.g. CSS_SYNTAX_STRAY_TRAILING_BACKSLASH, CSS_SYNTAX_UNTERMINATED_COMMENT, CSS_SYNTAX_UNTERMINATED_STRING etc. etc. Many of these specific error codes are really artifacts of the custom CSS parser that is being used by the amphtml validator. We're using a third party CSS parser (`sabberworm/

[2016-06-02 10:31] sidkshatriya commented on #77
Of course, another alternative would be to see the exceptions thrown by `sabberworm/php-css-parser` on malformed CSS documents and issue a corresponding CSS_SYNTAX_\* validation error (if we find such a correspondence). However, again, its probably a good idea to concentrate on the AMP specific CSS issues and not generic CSS syntax issues (and continue to assume that we get a well formed CSS docum

[2016-06-02 14:50] mherchel opened #87 "Instragram embed size ratio is not correct and leaves large gap under embed"
## Here's the embed code (note that there is no specified `height`) copied from [this Instagram post](https://www.instagram.com/p/BFUN97QpznO/?taken-by=lullabot):

[code]
## Here is what the library transforms it to:

[code]
## Here's what it looks like on a non-amp page:

![image](https://cloud.githubusercontent.com/assets/1605905/15749081/27efe282-28af-11e6-9652-c695bcacd058.png)
## Here's the A

[2016-06-02 14:52] mherchel commented on #87
Changing https://github.com/Lullabot/amp-library/blob/master/src/Pass/InstagramTransformPass.php#L31 to `400` seems to fix this.

![image](https://cloud.githubusercontent.com/assets/1605905/15749343/0f4a7250-28b0-11e6-8050-2219bc903d39.png)

[2016-06-02 15:00] sidkshatriya commented on #87
Changed to 400 px on master branch. Closing.

[2016-06-02 15:00] #87 closed, assigned to sidkshatriya

[2016-06-07 07:10] sidkshatriya commented on #85
The template validation port is complete after the merge of PR #88. We have 2 new tests.

[2016-06-07 07:10] #85 closed, assigned to sidkshatriya

[2016-06-07 07:21] sidkshatriya commented on #35
Template validation #85 was merged. Here is the current status of this ticket
- [x] Template validation #85
- [x] CDATA validation #75
- [x] Layout validation #83
- [ ] CSS validation (not fully complete -- see below)

CSS (css_spec) validation #77 has been reopened (also see related #79 which is also still open).

I'm going to close this ticket omnibus ticket, however, as the main goals have been

[2016-06-07 07:21] #35 closed, assigned to sidkshatriya

[2016-06-07 10:15] sidkshatriya commented on #86
Travis CI allows testing with [`hhvm`](http://hhvm.com/) as a target. HHVM is being used by many big companies as a drop in replacement for PHP in many cases. It would be good to have our library be able to work with HHVM.

(Our library dependencies like `symfony`, `phpunit`, `html5-php` indicate that they are compatible with HHVM. Others dependencies should be OK too: HHVM and PHP 5.5+ compatibil

[2016-06-07 10:24] sidkshatriya commented on #86
BTW don't be mislead by the test suite taking 2.79 minutes on HHVM (!!). Thats because of the JIT.

If you run the test with the jit disabled:

[code]

It will run in something more reasonable like 1.3 seconds or so...

[2016-06-07 11:37] adonisfigueroa opened #89 "Special Characters"
Some text with special characters has a wrong parse, for example:

$amp = new AMP();
$amp->loadHtml("You’re there");
echo $amp->convertToAmpHtml();

Or symbols:
$amp->loadHtml("end&#8203;");

Other examples:
première
of ‘A
a – b
Gael García Bernal
-“quotes”-

[2016-06-07 12:10] sidkshatriya commented on #89
@adonisfigueroa I am not able to repeat the error.

What version of the library are you using? What is the version of PHP?

[code]

gives
`<p>Gael García Bernal</p>`

[2016-06-07 12:11] sidkshatriya commented on #89
Can you post your `phpinfo();` perhaps?

[2016-06-07 12:15] sidkshatriya commented on #89
There was a similar problem sometime ago https://github.com/Lullabot/amp-library/issues/48 which was fixed.

Are you running with the latest versions of the library and its dependencies?

[2016-06-07 12:46] adonisfigueroa commented on #89
I made un update today (with composer), I have this version:
lullabot/amp               dev-master 02d65f9 A set of useful classes and utilities to convert html to AMP html (See https://www.ampproject.org/)

About the phpinfo, what information do you need specifically?
This is the php version and dom version:

![captura de pantalla de 2016-06-07 14 24 21](https://cloud.githubusercontent.com/assets

[2016-06-07 12:48] sidkshatriya commented on #89
@adonisfigueroa
Do you have mbstring extension installed?

[2016-06-07 12:51] adonisfigueroa commented on #89
Yes, I have

![captura de pantalla de 2016-06-07 14 49 05](https://cloud.githubusercontent.com/assets/3927270/15858092/163abd32-2cbf-11e6-889a-5aa1cc87dce4.png)

[2016-06-07 12:52] sidkshatriya commented on #89
What is the output of the small program I posted in https://github.com/Lullabot/amp-library/issues/89#issuecomment-224261277  for you?

[2016-06-07 12:56] adonisfigueroa commented on #89
Output: Gael GarcÃ­a Bernal

[2016-06-07 13:01] sidkshatriya commented on #89
This is puzzling for me. What is your operating system? Can you try on another installation of PHP (preferably on LInux or Mac) that you might have access to and tell me what results you are getting?

[2016-06-07 13:15] adonisfigueroa commented on #89
My localhost is Ubuntu 14.04.4 LTS with php 5.5.9
and in a Red Hat Enterprise Linux Server release 6.7 with php 5.6.21, same results.

[2016-06-07 13:52] sidkshatriya commented on #86
I now have travis CI setup for continuous integration. Sadly I've not been able to set it up for the `lullabot/amp-library` repo... rather I've had to fork the repo to my own account as Travis says that I don't have the requisite rights (@dsayswhat FYI)

Check the build status:
https://travis-ci.org/sidkshatriya/amp-library

Specifically you can check https://travis-ci.org/sidkshatriya/amp-library

[2016-06-07 17:07] sidkshatriya commented on #89
- Can you tell me what you get when you type `php -i | grep libxml` ?
- Also can you try to run the above https://github.com/Lullabot/amp-library/issues/89#issuecomment-224261277 script in cgi/fpm/fastcgi etc. mode (i.e. non command line) and tell me what output you get?

[2016-06-07 17:17] adonisfigueroa commented on #89
php -i | grep libxml
libxml Version => 2.9.1
libxml
libxml2 Version => 2.9.1

When execute the code in console, I get correct characters, maybe some problems with charset ISO-8859-1?

/usr/bin/php /var/www/html/test.php

<p>Gael García Bernal</p>

[2016-06-07 17:23] sidkshatriya commented on #89
Ah! So things are working correctly in the console and _not_ working correctly in the browser?

The AMP library output is UTF-8. We only support UTF-8 output.

[2016-06-07 17:23] sidkshatriya commented on #89
(We don't support ISO-8859-1)

[2016-06-07 17:27] sidkshatriya commented on #89
But you can try to do some encoding conversions using [mb_convert_encoding](http://php.net/manual/en/function.mb-convert-encoding.php). Encoding conversions are tricky but ISO-8859-1 is quite a mainstream encoding...

However, I would advise using UTF-8 for all multilingual stuff in your web pages...

[2016-06-07 17:31] adonisfigueroa commented on #89
Before submit the issue, I made a test with mb_convert_encoding, but that symbols were unsuccessful, I'll try converting in other way before call to loadHtml.

[2016-06-07 17:35] sidkshatriya commented on #89
Is there a reason why you must use ISO-8859-1 for your output? UTF-8 is just so much better and you can mix languages other than those supported in latin-1...

[2016-06-07 17:41] adonisfigueroa commented on #89
Yes, we need to use the AMP in a site with many content in the database that is in ISO-8859-1, then to support UTF-8, we need to convert first all the data.

[2016-06-07 17:44] sidkshatriya commented on #89
I'm closing this ticket as this not really a bug in the library. The library is working as intended.

However feel free to keep updating this ticket in case you find something useful or need any help...

[2016-06-07 17:44] #89 closed, assigned to sidkshatriya

[2016-06-07 17:45] adonisfigueroa commented on #89
Ok thanks for your help

[2016-06-08 04:13] sidkshatriya commented on #89
I want to re-word a comment I made above:

Actually, it would be more accurate to say is you should only provide UTF-8 input to the library and then you would get proper UTF-8 output. We only support UTF-8 encoding.

[2016-06-08 04:29] sidkshatriya commented on #86
`parse_url()` problem has been confirmed as a PHP behaviour change on the HHVM ticket https://github.com/facebook/hhvm/issues/7136

Please see https://3v4l.org/fotNt (from https://github.com/facebook/hhvm/issues/7136#issuecomment-224427428) for a nice comparison

[2016-06-08 09:06] sidkshatriya commented on #86
A workaround to the `parse_url()` problem was implemented in PR #90. All tests now pass in PHP 5.5, 5.6. 7.0, HHVM, PHP nightly. It does not matter if we have an older version of PHP 5.5 and 5.6 or HHVM (which is what the workaround fixes).

Travis CI is configured to test on PHP 5.5, 5.6, 7.0, HHVM and PHP nightly on every branch push.

We also have a nice badge that indicates the build status.

[2016-06-08 09:06] #86 closed, assigned to sidkshatriya

[2016-06-08 15:07] sidkshatriya opened #91 "Update validator-generated.php from spec 220 to 224"
- Update `validator-generated.php` from `spec_file_revision` 220 to 224.
- Also update any test output

[2016-06-08 16:18] sidkshatriya commented on #91
PR #92 was merged. Closing.

[2016-06-08 16:18] #91 closed, assigned to sidkshatriya

[2016-06-08 17:39] adonisfigueroa commented on #89
It works if the content to UTF-8 is parsed before the call loadHTML and then the results are parsing to initial encoded:

$text = iconv('ISO-8859-1', 'UTF-8//TRANSLIT//IGNORE', $text);
$amp = new AMP();
$amp->loadHtml($text);
$text_amp = $amp->convertToAmpHtml();
$text_amp = iconv('UTF-8', 'ISO-8859-1//TRANSLIT//IGNORE', $text_amp);

Thanks again. You could mention about the encoding supported in

[2016-06-09 06:56] sidkshatriya commented on #89
@adonisfigueroa Thanks for the tip. I have updated `README.md` and added a note saying that we only support UTF-8 and ASCII (UTF-8 is a superset of ASCII).

BTW I'm curious that you chose to use `iconv`. Does `mb_convert_encoding` not do the trick for you?

[2016-06-09 07:37] sidkshatriya opened #93 "Support for <video> to <amp-video> tag conversion"
Just we have `<audio>` to `<amp-audio>` tag conversion, support `<video>` to `<amp-video>` tag conversion.

[2016-06-09 12:01] adonisfigueroa opened #95 "Support for <object><param name="movie" value="youtube.com" .../> to <amp-youtube> tag conversion"
Support for conversion from "object movie" to "amp-youtube", ex:

[code]

Related plugin:
https://github.com/paulredmond/html-to-amp/blob/master/src/Converter/Extensions/YoutubeConverter.php

[2016-06-09 12:36] sidkshatriya commented on #93
This ticket can be closed as PR #94 is merged to master.

[2016-06-09 12:36] #93 closed, assigned to sidkshatriya

[2016-06-09 12:47] sidkshatriya commented on #95
So you want youtube flash embed code conversion? It should not be too tough to implement but I've got some other items pending on my list. Let me think about it.

Thanks for the link -- thats a totally different project and our code bases are different.

But as I mentioned -- it should not be too difficult as its just a matter of using regular expressions on the `<embed>` tag to get the youtube vi

[2016-06-09 17:20] adonisfigueroa commented on #89
It was an example, but the good news it's that both work (using it before and after AMP library).

[2016-06-09 17:26] adonisfigueroa commented on #89
Sorry, an example where it doesn't work with mb_convert_encoding but it works with iconv:
-> special quotes -“What”-

[2016-06-10 00:55] adonisfigueroa commented on #95
I made a fork from your project and now I have the conversion, Can I merge with your project? Maybe in other branch.

[2016-06-10 17:37] marretjeca opened #96 "Function required to remove arbitrary tags with CSS selectors"
We use amp pages on a website that also uses a CDN. In order to maximize speed the CDN module applies dns-prefetch:

`<meta http-equiv="x-dns-prefetch-control" content="on" />
<link rel="dns-prefetch" href="//cdn.potatopro.com" />
`

The AMP PHP Library does not process this correctly. It leaves either a <link> statement without any rel= and/or an illegal rel=
Google considers this a fatal error a

[2016-06-10 19:51] jazzdrive3 opened #97 "Youtube iframe embed being stripped out instead of replaced by amp-youtube"
You can see this in action at http://qa0.runnersworld.com/marine-corps-marathon/watch-marine-corps-marathon-explains-why-you-should-never-swap-bibs

To view the amp version, go to http://qa0.runnersworld.com/marine-corps-marathon/watch-marine-corps-marathon-explains-why-you-should-never-swap-bibs?amp

[2016-06-11 13:41] mherchel commented on #97
This is weird. I've tested this before on MensHealth (same site within the multisite) and it was working.

I just copied and pasted the embed code (taken from the source of the page above) into MensHealth (same multisite install) and it worked. Investigating further

`<iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/yrW9a1mlIaY" width="500"></iframe>`

[2016-06-11 14:00] mherchel commented on #97
I can reproduce the problem on my local. When adding `&warnfix=1`, we get

[code]

[2016-06-11 14:05] mherchel commented on #97
The same site is also stripping out embedded images within the body field. My guess is that this is more Drupal than the library.

Also, we're running version `1.0.0-beta13` of the library.

[2016-06-11 14:09] mherchel commented on #97
Tracked this down... when I set the input-format of the body field to `full html` it works. To me, this means it's not a library issue.

It looks like a bug in the module. Because `Filtered HTML` does show youtube and images for anonymous users. But, in the AMP view mode, media gets stripped out.

[2016-06-11 14:21] mherchel commented on #97
Created https://www.drupal.org/node/2747015 to move forward on this. This issue can probably be closed.

[2016-06-13 05:53] sidkshatriya commented on #96
@marretjeca Thanks for your bug report. I'll investigate and see what might be the best way to fix this!

[2016-06-13 12:45] sidkshatriya commented on #96
@marretjeca Instead of removing the above tags in an ad-hoc way I've done something generic. Developers can specify CSS selectors to the AMP library. If those CSS selectors match, the tags are removed from the document. This is more flexible in the long run as different users of the library will have different tags of their own that they might want removed. We are removing illegal attributes from

[2016-06-13 18:19] marretjeca commented on #96
@sidkshatriya Thanks!
Where would I put this code from method 2? Also what CSS selector would I use?

[2016-06-14 02:31] dsayswhat commented on #63
I think this may be done already - should we close as a duplicate?

[2016-06-14 04:51] sidkshatriya commented on #63
@dsayswhat Thanks for noticing this! Indeed, this is a duplicate of #93

Closing

[2016-06-14 04:51] #63 closed, assigned to sidkshatriya

[2016-06-14 05:43] sidkshatriya commented on #96
@marretjeca

Lets break apart the example above:

[code]

You had mentioned you were having problems with:

[code]

As I understood it, you want these tags to be removed from AMP HTML.

The first tag can be selected via CSS selectors as `meta[http-equiv="x-dns-prefetch-control]` and the second tag can be selected by `link[rel="dns-prefetch"]`. Therefore the function simply returns an array of thos

[2016-06-14 11:26] sidkshatriya opened #99 "Add some tests that use `.options.json`"
As a by product of #96, a useful testing feature was built and that was the ability for a test to get arbitrary options from a `.options.json` file. See PR #98 for more details.

We can use this feature to add a couple of tests that will test some additional aspects of the amp-library:
- [x] Add a test to check the addition of statistics html comment. Make sure that only the relevant statistics co

[2016-06-14 11:38] sidkshatriya commented on #99
All items complete on this ticket and the PR was merged to master. Closing.

[2016-06-14 11:57] sidkshatriya commented on #99
I had an idea for some more tests. Re-opening this ticket.

[2016-06-14 13:54] sidkshatriya commented on #99
There are 2 new tests.
- Test to test the `no_lines = false` feature (i.e. line number in "ampized" output)
- Test to test the diff feature

Closing.

[2016-06-14 13:54] #99 closed, assigned to sidkshatriya

[2016-06-14 17:58] marretjeca commented on #96
Yes, it works! thanks very much

[2016-06-15 06:00] sidkshatriya commented on #96
@marretjeca Glad to know it worked! Closing ticket.

[2016-06-15 06:00] #96 closed, assigned to sidkshatriya

[2016-06-15 12:36] sidkshatriya opened #102 "Facebook iframe embed code conversion"
Add the ability to convert facebook iframe embed code to the `<amp-facebook>` tag

[2016-06-15 12:42] sidkshatriya commented on #102
The functionality must support both facebook posts and facebook videos

[2016-06-16 07:37] sidkshatriya commented on #102
Facebook iframe embed conversion is merged to master. Closing ticket.

[2016-06-16 07:37] #102 closed, assigned to sidkshatriya

[2016-06-16 07:53] sidkshatriya commented on #97
@mherchel
I had a chat with Mike a couple of days back on this. The summary discussion was that it is not an AMP library related issue as it seems that `ckeditor` was causing differential behaviour.

But the bottom line is that certain HTML was being removed in `?amp` mode even when there was no amp formatter for that text. `ckeditor` should _not_ cause this effect because it can at most affect HT

[2016-06-16 08:26] sidkshatriya opened #104 "Youtube embed code conversion enhancement: support embed parameters in amp-youtube tag"
The youtube embed code often contains query parameters e.g.

[code]

Notice `autoplay=1` and `controls=0` in the `src` string (there are many other possible parameters see https://developers.google.com/youtube/iframe_api_reference). We need to pass these parameters as `data-params-[the_specific_query_param_name]=[query_param_value]` to the `<amp-youtube>` tag (see https://github.com/ampproject/amp

[2016-06-16 08:35] sidkshatriya commented on #104
PR merged. Closing ticket.

[2016-06-16 08:35] #104 closed, assigned to sidkshatriya

[2016-06-16 12:13] sidkshatriya opened #106 "Implement alternate (javascript sdk) facebook embed code conversion"
In #102 we added the ability to convert a facebook `<iframe>` to the `<amp-facebook>` tag.

There is an alternative approach to embedded facebook videos and posts without using iframes. Its somewhat like twitter in which there is some basic HTML added and a `<script>` tag that then takes that basic HTML and makes it into a full embed.

It would look something like this for facebook:

[code]

And t

[2016-06-16 13:24] mherchel commented on #97
I'm _pretty_ sure I toggled the "Power User: Process whole HTML page by library" checkbox - and didn't see any change in behavior. I deleted the dbs from my local (since they were huge), so I can't test right now.

[2016-06-16 13:43] sidkshatriya commented on #97
If you togged the power user thing off _and_ were not using any amp formatter but faced the same issue then this is not library related. Closing for now.

[2016-06-16 13:43] #97 closed, assigned to nobody

[2016-06-17 08:39] sidkshatriya opened #107 "Get instagram dimensions using oembed when doing instagram embed code conversion"
[Standard Instagram](https://github.com/Lullabot/amp-library/blob/master/tests/test-data/fragment-html/instagram-fragment.html) embed code gets converted to the `<amp-instagram>` tag.

In #87 @mherchel faced a problem that the aspect ratios of his embeds were not correct. As a stop gap method, the aspect ratio was changed to 1:1 which most of the instagrams are. However this does not solve the pro

[2016-06-17 09:05] sidkshatriya commented on #107
This is complete and merged to master.

[2016-06-17 09:05] #107 closed, assigned to sidkshatriya

[2016-06-17 13:43] sidkshatriya commented on #106
The pull request was merged to master. Closing

[2016-06-17 13:43] #106 closed, assigned to sidkshatriya

[2016-06-17 15:44] sidkshatriya commented on #46
I worked on this ticket today. Sadly I found another display issue with pinterest pins for which there is no known solution at the moment. The problem is that AMP layouts like responsive want both a height and a width. Depending on the text on the pinterest pin, some pins may be larger and some smaller. So if you set a fixed height value some pins may get chopped off at the bottom when being displ

[2016-06-17 15:53] sidkshatriya commented on #46
(Note that pinterest functionality is available since last few releases and on master but it has the above described problems)

[2016-06-20 21:50] ghost opened #110 "masterminds version incompatible with Drupal 8 core"
Drupal 8 core is locked to:

"name": "masterminds/html5",
"version": "2.1.2",

AMP requires:

"masterminds/html5": "^2.2.0",

They are incompatible :(

[2016-06-21 06:36] sidkshatriya commented on #110
@karens
I investigated this -- and this is a complicated issue.

Firstly, why am I using `^2.2.0` of masterminds/html5 ... this is because of a bug in 2.1.2 (See https://github.com/Masterminds/html5-php/issues/98 ) which was fixed in 2.2.0

(See https://github.com/Masterminds/html5-php/releases for fixes per releaase)

Secondly, Drupal 8 core is not really incompatible with masterminds 2.2.0 and a

[2016-06-21 06:58] sidkshatriya commented on #110
@karens A interesting observation is that using a "pure" composer based distribution like https://github.com/acquia/lightning-project installs mastermind/html5 at `2.2.1` (!). So again you will not encounter the version incompatibility issue you are mentioning.

Try it out yourself:

[code]

(See https://github.com/acquia/lightning-project )
- The `composer.json` at https://github.com/acquia/light

[2016-06-21 09:16] sidkshatriya commented on #110
@karens Some more updates:
- There is a less heavy handed way to get this to work (in pure vanilla Drupal). Simply do:

[code]

  instead of the (bazooka) approach of `$ composer update` which will update all possible dependencies.
- I filed a patch against Drupal core here: https://www.drupal.org/node/2752645 to update the composer.lock version for mastermind/html5. The good news is that updating

[2016-06-21 09:20] sidkshatriya commented on #110
@mtift FYI

[2016-06-21 10:17] sidkshatriya commented on #110
**TL; DR**
- The issue occurs only if we insist on using the plain vanilla Drupal lock file. If you do `composer update masterminds/html5`(or simply `composer update`) then all is good. The lock file is likely to change anyways as you develop your project so I wonder whether this an important issue...
- A ticket+patch has been filed on drupal.org to update drupal core's `composer.lock` section for

[2016-06-21 11:50] ghost commented on #110
The particular problem I've run into is that I'm trying to add a new
requirement for another module (geofield). I tried to do composer require
geofield and then I tried to update composer.json and do composer update
geofield, and I get a response something like the following:

Loading composer repositories with package information

Updating dependencies (including require-dev)

Your requirements c

[2016-06-21 11:53] sidkshatriya commented on #110
Just do the following:

[code]

[2016-06-21 12:03] ghost commented on #110
OK that worked. I wonder if other people will run into this and might need
instructions? But I'm back in business anyway.

On Tue, Jun 21, 2016 at 6:56 AM, Sidharth Kshatriya <
notifications@github.com> wrote:

[2016-06-21 12:16] sidkshatriya commented on #110
@karens thats great!
- Long term fix: https://www.drupal.org/node/2752645 . This has the same workaround you used i.e. `composer update masterminds/html5` mentioned in the ticket. This workaround will be needed until Drupal core accepts the patch to their composer.lock file.
- People using composer manager (drupal 7 & 8) are not affected by this issue at all
- People using acquia lightning not aff

[2016-06-21 12:23] sidkshatriya commented on #110
@mtift @karens Good news. The patch was accepted into Drupal core in double quick time for the 8.2.x and 8.1.x branches.

https://www.drupal.org/node/2752645#comment-11316123

[2016-06-21 12:37] #110 closed, assigned to sidkshatriya

[2016-06-22 12:51] sidkshatriya opened #111 "Improve HTML correction abilities of Validator"
Improve the correction abilities of the validator.

In general, this is a difficult task because, while the validator knows what is illegal (and can remove it), it may not know what to substitute/add. However we can do various improvements to the current correction mechanisms. Here are some examples:
- If the boilerplate CSS required by all AMP html documents is wrong, then add the correct boilerp

[2016-06-22 13:09] sidkshatriya commented on #111
A couple of more examples of additive correction:
- Add any compulsory HTML required by every minimal amp document. So for example if certain meta tags are absent from the `<head>` these will be added
- Sometimes you may be able to fix problems in layouts e.g. a FIXED_HEIGHT layout should not have a width, if it has a width in px, remove that and add `width="auto"`

[2016-06-23 07:22] sidkshatriya opened #113 "Nesting of amp tags if no end tags provided"
I have been investigating a tricky issue about amp tags "nesting" if end tags are not provided.

I recently determined that this is not a bug in the amp-library.

To however confirm my assessment (for that additional sense of comfort) I filed a ticket on the amphtml project yesterday. The amphtml folks have come back and confirmed that the nesting behavior is OK (when end tags are not provided).

[2016-06-23 07:23] sidkshatriya commented on #113
Having documented this, closing!

[2016-06-23 07:23] #113 closed, assigned to sidkshatriya

[2016-06-29 03:35] adonisfigueroa opened #116 "Iframe error"
With youtube the parser works fine, but with other iframes it doesn't work:

$amp = new AMP();
$amp->loadHtml("<iframe frameborder=\"0\" height=\"450\" src=\"http://www.kickstarter.com/projects/1081571316/rhino-shield-the-impact-resistant-screen-protector/widget/video.html\" width=\"600\"></iframe>");
echo $amp->convertToAmpHtml();

[2016-06-29 11:43] sidkshatriya commented on #116
@adonisfigueroa There are no iframes in your your example above. Maybe you forgot to paste something there? (I only see `$amp->loadHtml("");` )

[2016-06-29 11:51] adonisfigueroa commented on #116
Sorry, I forgot upload as code:

`$amp = new AMP();`
`$amp->loadHtml("<iframe frameborder=\"0\" height=\"450\" src=\"http://www.kickstarter.com/projects/1081571316/rhino-shield-the-impact-resistant-screen-protector/widget/video.html\" width=\"600\"></iframe>");`
`echo $amp->convertToAmpHtml();`

[2016-06-29 12:17] sidkshatriya commented on #116
@adonisfigueroa In short, your problem is that iframe `src` attribute must be `https` (and not `http`) for the conversion to `<amp-iframe>` to work.

See https://github.com/ampproject/amphtml/blob/master/extensions/amp-iframe/amp-iframe.md

These code snippets of yours work but there is a simpler way to trying out things. And that is to use the `amp-console` command line utility. The advantage is

[2016-06-29 17:10] sidkshatriya commented on #79
Added a pull request to the `sabberworm/php-css-parser` project https://github.com/sabberworm/PHP-CSS-Parser/pull/105

[2016-06-29 17:42] sidkshatriya commented on #116
@adonisfigueroa Even though this is not a bug, this is a good case where the library can "fix" things. In a future branch that is not yet merged, if there is an iframe conversion, it will change the protocol to `https`.

See:
https://github.com/Lullabot/amp-library/commit/197f645587097c4e3bed7ad404ac1d0dd4f865e7

for the relevant change.

Closing.

[2016-06-29 17:42] #116 closed, assigned to sidkshatriya

[2016-06-30 13:53] sidkshatriya commented on #79
Made a huge amount of progress on https://github.com/sabberworm/PHP-CSS-Parser/pull/105

See the PR for changes. Hopefully it should not take too long to get this change accepted into mainline

[2016-06-30 14:52] sidkshatriya commented on #79
The sabberworm PR was merged to master

[2016-07-01 06:45] sidkshatriya commented on #79
With:
- Merge of PR #80
- Merge of our https://github.com/sabberworm/PHP-CSS-Parser/pull/105 and subsequent release of 8.0.0

This ticket can be now closed.

[2016-07-01 06:45] #79 closed, assigned to sidkshatriya

[2016-07-01 07:49] sidkshatriya commented on #77
Since the last update I've looked at this issue carefully and discussed this. The objective of this note is to summarize where we stand.

Currently we have a solution in which we are using the sabberworm CSS parser to inspect the CSS.

The solution is a limited solution -- we get some CSS validation errors when they are present but many CSS_SYNTAX_\* errors are not checked currently. The sabberwor

[2016-07-01 07:49] #77 closed, assigned to sidkshatriya

[2016-07-01 09:22] sidkshatriya opened #118 "Add some documentation for `src/Validate` directory"
Write a `README.md` to explain the purpose of the `src/Validate` directory.

[2016-07-01 09:23] sidkshatriya commented on #118
Documentation was written.

See here: https://github.com/Lullabot/amp-library/tree/master/src/Validate

Closing.

[2016-07-01 09:23] #118 closed, assigned to sidkshatriya

[2016-07-01 10:17] sidkshatriya commented on #110
@karens FYI I've added a short note to the README of 8.x

See http://cgit.drupalcode.org/amp/commit/?id=8775e8aec0cfd43c067e8994762b478d900560ab

[2016-07-04 10:30] sidkshatriya commented on #111
"Correction" abilities of the validator are much improved. The AMP library will
- add head tag if missing
- add body tag if missing
- add meta name=viewport tag if missing
- add meta charset utf8 tag if missing
- correct the mandatory cdata for oldstyle/new style and add the appropriate boilerplate CSS in both noscript and script tags
- add a noscript enclosure tag if missing
- if there are mutual

[2016-07-04 14:28] sidkshatriya commented on #111
The above PR #119 has a variety of improvement related to layout correction:
- Make amp-img a responsive layout if the specified or implied layout is invalid
- Fetch image dimensions if the layout is responsive and either/both height and width are missing
- Add layout error codes that should lead to removal of attributes

There is also an improvement on the img -> amp-img transformation: We simply

[2016-07-04 14:28] #111 closed, assigned to sidkshatriya

[2016-07-05 08:46] sidkshatriya commented on #111
- Added some more improvements to `<amp-img>` tag correction
- Added some documentation

[2016-07-05 09:02] sidkshatriya commented on #46
There is a workaround available. If your pins are getting chopped off, then please provide the height and width explicitly in the embed code. These will get carried over into the `<amp-pinterest>` tag.

So **don't** simply paste something like:

[code]

But add the `width` and `height` attributes like so:

[code]

These width and height values are available from the pinterest widget builder e.g.
h

[2016-07-05 09:03] sidkshatriya commented on #46
The workaround should suffice. Closing ticket. Please re-open if necessary.

[2016-07-05 09:03] #46 closed, assigned to sidkshatriya

[2016-07-05 10:17] sidkshatriya opened #122 "Case sensitivity for svg"
When updating the `svg.html` test I noticed an issue with case sensitivity.

The DOM was reporting the tag lineargradient as `linearGradient` (notice the uppercase G).

While validator should already be case insensitive. For example `DIV`, `DiV` and  `div` etc. are all (already) considered `div` it seems to be messing up in the case of svg. This seems to be an edge case brought on by using non-htm

[2016-07-05 10:23] sidkshatriya commented on #122
This is done. Closing.

[2016-07-05 10:23] #122 closed, assigned to sidkshatriya

[2016-07-20 08:57] tjwelde opened #125 "Iframe: Handling protocol relative URLs"
When I have a URL in the form `//example.org`, the library won't transform it to `https://`, which leads to a javascript error, because AMP only supports https in iframe src.

It could be handled in:
`Lullabot\AMP\Pass\IframeTagTransformPass -> getIframeSrc()`

But the `ActionTakenType` of `IFRAME_CONVERTED_AND_HTTPS` has to be changed in:
`Lullabot\AMP\Utility\ActionTakenType`

If that's ok, I ca

[2016-07-21 04:16] sidkshatriya commented on #125
@goldquest Thanks for uncovering this edge case!

The changes are merged to the master branch but do not exist in a tagged release yet. Closing.

[2016-07-21 04:16] #125 closed, assigned to nobody

[2016-07-21 05:56] sidkshatriya commented on #125
Tagged release `1.0.3` now has this.

[2016-07-21 06:03] #95 closed, assigned to nobody

[2016-07-21 10:36] tjwelde commented on #125
@sidkshatriya Thanks.
Could you also have a look at #33 ? If this would be resolved, we could use the library with our Drupal Distribution.

[2016-07-28 14:27] l0c0luke opened #129 "How to handle normal blockquotes?"
I have some HTML that shows me why this is a tricky problem...

[code]

Is there anyway I can keep the second blockquote in blockquotes so I can style it accordingly?

[2016-07-28 14:36] l0c0luke commented on #129
additionally it would be amazing to handle imgur embeds :)

[2016-07-29 05:10] sidkshatriya commented on #129
Can you explain how the AMP library is involved in the block quote issue? It doesn't seem to be connected with the AMP library

Thanks for the request -- will consider imgur embeds!

[2016-07-29 14:30] l0c0luke commented on #129
well when i run that html through our library, it pops out just the p tag... it removes the blockquote around the miss piggy p tag.

[2016-07-30 11:11] sidkshatriya commented on #129
Hmm... I think something else is removing the block quotes for you. Where are you using this library? For a custom php project? In drupal? You may need to check whats causing this problem.
- I saved:

[code]

to a file named `snippet.html`
- In the `vendor/lullabot/amp` I ran the following command

[code]

And I _didn't_ see the blockquotes being removed.

[2016-07-31 20:19] #129 closed, assigned to nobody

[2016-08-02 17:10] alex-moreno opened #130 "videos/carousels"
Hi,

I am a bit confused on how we trigger the js for components like carousels or video.

We have a customised theme, with a field that we trigger in display suite. In the begining I tried using Preprocess variables for theme_hook, but this doesn't work as drupal_add_js gets removed in the template.php of amptheme.

What would be the right approach for this?

Thanks in advance.

[2016-08-03 08:04] sidkshatriya commented on #130
You'll need to use AMP components. Custom Javascript components are not allowed in AMP.

You'll need to include html for the carousel and the carousel javascript script tag (from google).

This might help:
https://ampbyexample.com/components/amp-carousel/

[2016-08-03 08:04] #130 closed, assigned to nobody

[2016-08-03 11:19] alex-moreno commented on #130
Hi Sidharth,

yep, that's the issue, we already have included the html and the javascript
tag, but in templates and themes (kind of node-content-type.tpl.php). Then
the js is added in the html.tpl,php, but I don't think is the right place,
I was trying to make amp to put them in place, but given the architecture
we have atm with templates, that doesn't look to work... or we are not
doing it the ri

[2016-08-03 17:21] l0c0luke opened #131 "Facebook post for an image is not converting to amp-facebook"
I am using the image url of https://www.facebook.com/ladygaga/photos/a.89179709573.79898.10376464573/10154453352899574/?type=3&theater

My oembed provider returns the following embed code for this post which works on a regular html web page using the stadard facebook embed/script.

[code]

after processing with your library, it is not converting. I beleive it has to do with the fact it is an image

[2016-08-10 13:37] naeh opened #132 "Youtube iframe without data-param-* causes warning"
Hello,

when trying de convert html containing youtube iframe without any data-param-\* it causes warning, here is an example of youtube tag :
`<iframe src="http://www.youtube.com/embed/zA_19bHxEYg" width="425" height="350"></iframe>`

here is the warning :
`Warning: Invalid argument supplied for foreach() in lullabot\amp\src\Pass\IframeYouTubeTagTransformPass.php on line 161`

the problem is that

[2016-08-14 07:10] sidkshatriya commented on #132
@naeh Thanks for reporting this warning. Its been fixed and a new release tag 1.0.5 been created.

[2016-08-14 07:10] #132 closed, assigned to nobody

[2016-08-15 15:35] l0c0luke opened #134 "Core library should not depend on symfony/console"

[2016-08-17 04:43] sidkshatriya commented on #134
The version requirement is ^2.7.0 which means that any version >= 2.7.0 and <= 3.0.0 should work.

Sorry there are no plans to support symfony/console >= 3.0.0 at the moment.  Version 3.0.0 and higher change the compatibility requirement with the current code base (basically the amp-console command line utility). _Note_: The rest of the library does not care about symfony/console at all.

Drupal i

[2016-08-24 16:08] edubuc commented on #134
I tried to use the library with Laravel 5.2 but I'm stuck too as it use symfony/console 3.0.9

Any tips on how I can use it anyway? (it will save me a lot of time)

Thanks

[2016-09-05 06:07] yaquawa commented on #134
Yeah, same issue here with Laravel 5.3.
Would you consider separating the console part out from the library?

[2016-09-05 15:04] sidkshatriya commented on #134
Ok I'll see how much work this change might entail.

[2016-09-06 05:58] pkailasusph opened #135 "Facebook video Embeds are not converted to AMP tag"
Please update the regular expression to match all videos

`preg_match('&(*UTF8)facebook\.com/facebook/videos/\d+/?&i', $src)
`
should be changed to
`preg_match('&(*UTF8)facebook\.com/.*/videos/\d+/?&i', $src)`

[2016-09-06 06:12] pkailasusph commented on #135
Updated. Please merge https://github.com/Lullabot/amp-library/pull/136

[2016-09-06 13:25] yaquawa commented on #134
Thanks sidkshatriya!!

[2016-09-06 13:48] edubuc commented on #134
Thanks sidkshatriya

[2016-09-07 13:31] sebastianbenz opened #137 "amp-twitter: support urls with 'statuses'"
The Twitter pass wouldn't detect Twitter link with the format https://twitter.com/{user}/statuses/{id}.

[2016-09-07 13:33] #137 closed, assigned to nobody

[2016-09-09 08:53] #135 closed, assigned to nobody

[2016-09-09 08:55] sebastianbenz commented on #135
I've just pushed a new release 1.0.6 to [packagist](https://packagist.org/packages/lullabot/amp) which includes this change.

[2016-09-10 21:50] sidkshatriya commented on #134
@yaquawa @edubuc @l0c0luke

I think I've solved it. The solution was almost trivial (and obvious) in retrospect (see PR above). Before I merge to master / create a 1.0.x tag could any of you try it out?

In your project you can either do a:
`composer require lullabot/amp:"dev-no-console-dep"`

or change the verson constraint for `lullabot/amp` in composer.json from (probably) `"^1.0.0"` to `"dev-n

[2016-09-13 21:42] FuzzyTree commented on #134
@sidkshatriya `composer require lullabot/amp:"dev-no-console-dep"` worked for me. Thanks!

[2016-09-14 04:44] sidkshatriya commented on #134
Thanks @FuzzyTree for testing this out. Merged to master, created tag 1.0.7

`no-console-dep` branch deleted as this is on master / 1.0.7 tag.

[2016-09-14 04:44] #134 closed, assigned to nobody

[2016-09-14 17:46] FuzzyTree opened #140 "amp-console fails on require autoload.php"
I've installed amp-library via `composer require`, so `amp-console` gets installed at

`/my_project_path/vendor/lullabot/amp/amp-console`

When I run `amp_console` the require fails because it looks for `autoload.php` in

`require __DIR__.'/vendor/autoload.php';`

which is the same as `/my_project_path/vendor/lullabot/amp/amp-console/vendor/autoload.php`

I resolved this by changing the require to

[2016-09-14 23:10] #140 closed, assigned to nobody

[2016-09-16 21:54] FuzzyTree opened #143 "Small images are stretched to full width"
Small images (for example 50x50px) get stretched to full width because every `amp-image` gets the `layout='responsive'` attribute.

I propose giving images that are less than 300px (or some other constant) wide a layout attribute value of `fixed` instead of `responsive`, so the image doesn't get stretched to full width.

[2016-09-19 20:34] sebastianbenz commented on #143
Makes sense. The width needs to be user configurable though.

[2016-10-25 10:36] ghost opened #150 "Missing 'amp-ad extension script' support"
Scripts like this are removed if full html document are passed to amp-library:

`<script async custom-element="amp-ad" src="https://cdn.ampproject.org/v0/amp-ad-latest.js"></script>
`

But they shouldn't be stripped...

[2016-10-25 10:39] ghost commented on #150
Instead your validator should be updated to generate script dependency as new specs will require it, the official amp validator is saying now:

[2016-11-12 11:02] obeyer opened #151 "forms are excluded"
after converting to amp html, forms are discarded from the document. But forms are now supported in AMP. Are you planning on fixing it? also, script, which is supposed to process forms, is excluded from the page as well

[2016-11-24 17:06] AlvaroIT commented on #151
I was trying to generate a new validator-generated.php file.
[validator-generated.php.zip](https://github.com/Lullabot/amp-library/files/611863/validator-generated.php.zip)
Its working for my simple form, but maybe for your one it wont work... I will try to generate a better one but im a noob in this field...

[2016-12-01 22:35] obeyer commented on #151
@sidkshatriya are you still working on this project? my colleague has his prs opened since September. also, google amp project keeps shipping new features, but they are not supported. Are you planning on updating it?

[2016-12-01 22:39] obeyer commented on #151
@AlvaroIT are you officially working on this project, or you just a contributor?

[2016-12-02 04:47] sidkshatriya commented on #151
Thanks for reaching out @obeyer ! I'm currently not working on this project. Yes, there have been some changes to the Google AMP specification in the interim and this library has not changed to accommodate them. It would require some effort to bring things on par with the canonical specification.

@sebastianbenz might be able to provide some guidance on how to proceed from here.

[2016-12-02 10:49] AlvaroIT commented on #151
Hi! @obeyer I'm not working on this project and i'm not a contributor, i'm just an user of the library. I needed to use the forms in amp, so I took some rules from the prototype.ascii 315 revision, and I built a new validator-generated.php file.

[2016-12-08 21:36] ghost commented on #150
<script async custom-element="amp-sticky-ad" src="https://cdn.ampproject.org/v0/amp-sticky-ad-1.0.js"></script>

The above script tag is also being removed. Any word on when this will be fixed?

[2016-12-18 13:42] dcfairwi commented on #150
I have the same issue, hope to get an update soon.

[2016-12-21 00:55] ghost commented on #150
https://github.com/Lullabot/amp-library/pull/145  << So I suppose this means the amp-ad script tag isn't required, although the validator warns that it is?

[2017-01-04 00:15] sintetico82 opened #153 "Not convert img to amp-img"
I try to convert this html text:

[code]

I use this line of code:
[code]

The final result is:

[code]

I m missing something?

[2017-01-04 11:32] sintetico82 commented on #153
Ok,I have seen code and i understand why the image was not converted, becouse is not accessible for download (HTTP basic protection to my website).

[2017-01-04 11:32] #153 closed, assigned to nobody

[2017-01-19 23:56] obeyer commented on #151
@sebastianbenz sidkshatriya gave your name  to provide some guidance on how to proceed from here.  Is it gonna be any future work on this? Should I open pull requests to this rep, or should I just extend the library and make my own changes my own?

[2017-01-20 19:17] sidkshatriya commented on #151
@obeyer I am not currently working on the amp-library, sorry.

[2017-01-21 00:21] jeflores01 opened #155 "install without composer"
Hi, exists some way to install without composer ?

Best

[2017-01-21 07:53] sidkshatriya commented on #155
I think it will be very difficult to get this going without composer. I'm sure its *possible* but difficult.

But remember composer is only needed for initial install. Once the dependencies are in place then you don't need the composer package manager anymore.

[2017-01-21 07:53] #155 closed, assigned to nobody

[2017-02-06 21:15] renzit opened #161 "Add integration with amp-playbuzz"
There is a new implementation of a component to embed playbuzz.

We need the amp-playbuzz but i have trouble to implement in drupal. I think it could be implemented in the library side.
it should be easy but i need to figure out how to start coding for the library, more documentation here:
https://www.ampproject.org/docs/reference/components/amp-playbuzz

[2017-02-08 22:04] obeyer commented on #151
@sebastianbenz hey! I just saw you merged 6 commits today. Does it mean that this project is not abandoned anymore? thx!

[2017-02-08 22:17] sebastianbenz commented on #151
Sorry for the silence. I'm looking for a way to keeping this alive.

On Wed, Feb 8, 2017 at 10:04 PM Olena Beyer <notifications@github.com>
wrote:

[2017-02-08 23:28] FuzzyTree commented on #143
Resolved by https://github.com/Lullabot/amp-library/pull/144

[2017-02-08 23:28] #143 closed, assigned to nobody

[2017-02-10 14:16] genextwebs commented on #151
is there any updates on integrating form option in this AMP class?

[2017-02-13 12:20] sectsect opened #166 "The version tag for Composer"
Thank you for some merge of recent PR.

Can you update the version tag for Composer?

[2017-02-13 12:44] sebastianbenz commented on #166
Will do once the recent PRs are merged.

[2017-02-13 13:04] #166 closed, assigned to nobody

[2017-02-13 13:17] garlab opened #167 "Error when converting anchors with type attribute"
Hi,

I'm working with a CMS generating links like this:

    <a href="file.xls" type="application/vnd.ms-excel; length=71680">download</a>

When I try to convert that file I get:

    <a href="file.xls" type="application/vnd.ms-excel; length=71680"> on line 1
     - The attribute 'type' in tag 'a' is set to the invalid value 'application/vnd.ms-excel; length=71680'.
       [code: INVALID_ATTR_VALU

[2017-02-14 10:20] SGudbrandsson opened #168 "Add config options to the readme.md file"
We need to add the config options to the readme.md file.

- [ ] Add the command line options
- [ ] Add the php library options
- [ ] Show the defaults in a table view
- [ ] Show possible values in a table view
- [ ] Make a short, descriptive documentation for each option

[2017-02-23 16:33] dbosen opened #169 "License not GPLv2 compatible"
We want to add the amp-library in a drupal-org.make file for our distribution, but in order to be used in that file a library needs to be [licensed under a GPL2 compatible license](https://www.drupal.org/node/1475972#gplv2-compatible-licenses).
The Apache license is sadly not compatible. Would it be possible to change the licence of the library to one of those in the given link?

[2017-02-27 21:16] adonisfigueroa opened #171 "Scope warning"
A new warning appears in the last version:
PHP Notice:  Undefined index: scope in src/Pass/BasePass.php on line 138

This validation is necessary at the beggining of the line 138?:
isset($this->options['scope'])

[2017-03-02 15:41] ahilles107 commented on #150
It will/can be required soon. Any news about this?

[2017-03-02 16:45] crittermike opened #173 "Not converting <img> to <amp-img>, says image is not accessible, but it is"
Here's my test code:

[code]

It returns this output:

[code]

So as you can see, the `getimagesize()` works fine on the image, meaning the image is accessible by PHP, so I'm not sure why AMP seems to think that it isn't.

I'm seeing this with multiple images from different domains, not just this single one, but not all - more than half work fine.

Any ideas?

[2017-03-03 14:55] SGudbrandsson commented on #173
@mikecrittenden the AMP converter doesn't fetch the image itself.
It only converts the input and returns the amp valid output.
It doesn't fetch the actual image for processing since that will be very resource expensive (bandwidth and processing for every single AMP request).

See https://github.com/Lullabot/amp-library/blob/master/src/Pass/ImgTagTransformPass.php#L76

You need to set height and wi

[2017-03-03 14:57] SGudbrandsson commented on #150
@ahilles107 #145 has been merged into the code for 23 days now.
@creativeprogramming @andrewdresden @dcfairwi can you confirm that this works for you now?

[2017-03-03 14:58] crittermike commented on #173
@sigginet I don't think that's true - it's supposed to dynamically fetch the width/height. The line directly above the one you linked says:

[code]

And if you follow that call stack, you end up here: https://github.com/Lullabot/amp-library/blob/master/src/Pass/ImgTagTransformPass.php#L177

Note that `fastimage` is https://github.com/marc1706/fast-image-size which is a library specifically made fo

[2017-03-07 22:37] renzit commented on #150
This isnt work unless you patch with composer because composer download the last tag and that is 1.07 and doenst have the code that was merged in master before the tag was created...

When there be another release in the tags?

[2017-03-14 13:04] #171 closed, assigned to nobody

[2017-03-14 13:28] SGudbrandsson commented on #150
@renzit I just released a new version, 1.1.0.

https://github.com/Lullabot/amp-library/releases/tag/1.1.0

Can you test the new release?

[2017-03-14 13:30] SGudbrandsson commented on #151
@genextwebs we can look into it.
If you have some free time and coding skills, you can improve the library and create a pull request against the library.

[2017-03-14 13:31] SGudbrandsson commented on #161
@renzit can you list all the variations of the playbuzz code on websites?
Once you do that, we can do the parsing easily.

[2017-03-14 13:31] SGudbrandsson commented on #167
@garlab good point.
We'll look into improving this, thanks. :)

[2017-03-14 13:32] SGudbrandsson commented on #169
@FuzzyTree @sebastianbenz any thoughts on dual licensing?

[2017-03-14 13:33] SGudbrandsson commented on #173
Good point.. we can look into this, or you can try to debug this and create a new pull request (it would help a lot)..

[2017-03-14 13:35] sebastianbenz commented on #169
Dual licensing is unfortunately not possible.

On Tue, Mar 14, 2017 at 1:32 PM Sigurður Guðbrandsson <
notifications@github.com> wrote:

[2017-03-14 13:46] SGudbrandsson commented on #169
@sebastianbenz do you know why the Apache license was chosen?

[2017-03-14 13:47] sebastianbenz commented on #169
Standard license we use at Google for open source.

On Tue, Mar 14, 2017 at 1:46 PM Sigurður Guðbrandsson <
notifications@github.com> wrote:

[2017-03-14 13:55] SGudbrandsson commented on #169
Fair enough.
I suppose Google doesn't choose other licenses such as FreeBSD/MIT?

[2017-03-14 21:24] renzit commented on #150
@sigginet i tested the tag 1.1.0 on stage a few hours ago , and now is in production working 100% OK.
I was patching the master but now is clean and this are the fix i check:
-The amp ad warning
-The implementation of amp-sidebar.

So far so good :+1:
Thnks

[2017-03-16 10:10] matt-harris-sift opened #174 "PHP 5.5 reasoning"
Hi

Would you be able to tell us what makes this library require PHP 5.5. As we are looking to install in on our servers which are running 5.3.

Thanks

[2017-03-16 11:00] SGudbrandsson commented on #174
Hi @matt-harris-sift

There are a number of changes between PHP 5.3 and 5.5.

You can try this library on a staging environment and see if it works for you or not.

But keep in mind that PHP 5.5 reached the EOL last June so the support may be dropped for it.

[2017-03-16 16:33] crittermike commented on #173
I figured it out - upgrading the fast-image-size package fixed it, thanks to this release: https://github.com/marc1706/fast-image-size/releases/tag/v1.1.2

[2017-03-16 16:33] #173 closed, assigned to nobody

[2017-03-17 14:28] ameshkin opened #180 "Issue with Youtube Videos in Drupal Module"
We have a couple of pages with youtube videos that are being flagged in google webmaster tools.

When there is a video on our amp page, we get this line at the top.
<script src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js" async="" custom-element="amp-youtube" />

I have been unable to find where this code is inserted in the drupal plugin.

But I have found files in the test directory with th

[2017-03-21 19:56] obeyer opened #181 "question: validator-generated.php"
@sebastianbenz @sigginet
I have a question about validator-generated.php
I followed instructions on how to regenerate it by cloning lullabot/amphtml repo and stuff.
I only had one small change (I added amp-video element and the script for it to Context.php). But when I regenerated the file, it was so much different from what it is right now. So it either was changed manually before, and now genera

[2017-03-27 16:58] renzit commented on #181
i can confirm , on a previous pull request , i implement the amp-sidebar tag but i doesnt generate the test and the PR was accepted. If when merged to master they dont recreate the tests it would recreate every time somebody implements something and recreate the validator.

I realize this in a new PR of the amp-accordion when i discover how to make it i do it and its regenerate the amp-sidebar and

[2017-04-03 15:39] renzit commented on #181
@obeyer in this PR https://github.com/Lullabot/amp-library/pull/162
 they are trying to update the validator.php,i think we can help from what they do there.

[2017-04-03 15:58] echosa commented on #151
I also need forms to be included in generated AMP HTML. Does anyone have a local solution that they are using? If you share that, perhaps it would help everyone else until there is an official solution in this repository.

[2017-04-27 21:14] luigitec commented on #181
I got the following after running **composer update**:

[code]
I got this on the require block of the composer.json file:

```"lullabot/amp": "^1.0.0",```

[2017-05-04 20:28] obeyer commented on #181
@sebastianbenz @sigginet @renzit
so who could merge the pr
to update the code in https://github.com/Lullabot/amphtml with the code from https://github.com/ampproject/amphtml/
at this point the validator is almost a year behind, and we can't use all the new features cretaed in AMP project, since all the new tags get stripped out. is there a point in https://github.com/Lullabot/amphtml at all? can w

[2017-05-05 16:42] sidkshatriya commented on #181
The objective of the Lullabot validator is to provide a good fundamental base for HTML->AMP HTML conversion. If you know what validation errors are there, you can try to fix them or flag them to the user.

Yes at this point the Lullabot validator has fallen behind. It would need changes to the codebase to catch up with all the changes to the AMP specification. The Lullabot validator is designed to

[2017-05-10 16:55] obeyer commented on #181
@sidkshatriya
I understand you are not working on this project any more, as you said before. There's a pull request, which I mentioned in my previous comment, sorry didn't put a link to it. Here it is: https://github.com/Lullabot/amphtml/pull/1 by @dawehner
Does it fix the problem, or there's still things that need to be done? In my understanding, new specs also need to be added to the validator-m

[2017-05-10 17:10] dawehner commented on #181
@obeyer I'm happy to answer you answer question on my PR, when I still remember. Just reach out to me somehow. Sadly the test failures in my PR are highly non trivial, at least they weren't at the time. I'm happy to provide help

[2017-05-18 11:49] alfaq commented on #151
maybe, we can simple not cut 'form' tag. I want add right form with action-xhr, but this library cut it((

[2017-06-13 09:35] B-Prod opened #185 "Ambiguous class with composer"
When generating the autoload files, there are a lot of warning messages about ambiguous classes. For example:
Warning: Ambiguous class resolution, "Lullabot\AMP\Spec\AmpLayout" was found in both "/tmp/build/9062a266/code/vendor/lullabot/amp/src/Spec/validator-generated.php" and "/tmp/build/9062a266/code/vendor/lullabot/amp/src/validator-generated.php", the first will be used.
Warning: Ambiguous cl

[2017-06-14 16:07] JamesIves opened #186 "Local images causing the converter to fail/hang"
I'm running into an issue where the converter hangs up and takes forever to load (and eventually fails) when it encounters images which are hosted locally, for instance `/files/image.jpg` or `http://localhost:8000/files/image.jpg`. If I pass in an image hosted on a remote server somewhere for example imgur it's speedy and properly converts the image to AMP.

I noticed the workaround for https asse

[2017-06-15 00:37] JamesIves commented on #186
Traced this back to the fast-image-size plugin, raised the issue with them instead.

[2017-06-15 00:37] #186 closed, assigned to nobody

[2017-06-28 20:35] TomasVotruba opened #189 "How to add "link rel=canonical" and "link rel=amphtml"?"
Thanks for great library. It is intuitive to work with, almost done :+1:

I need one thing. Is there to option automatically add those links to original and AMP html code?

I only found:

But no link to "How to". I imagine something like this:

[code]

[2017-06-29 13:05] TomasVotruba commented on #189
Resolved via https://github.com/Symplify/Symplify/pull/201/commits/2b66cfd76567cb47ae06f576f2eca4dc4079b871#diff-d1fb753cca1b87d812d7284963167f98R24

[code]

Feature for the html file to add amp link would be also nice.

Now I had to do it manually: https://github.com/Symplify/Symplify/pull/201/commits/2b66cfd76567cb47ae06f576f2eca4dc4079b871#diff-96df42d253733c994c3de7c9050cb359R28

[2017-06-29 13:05] #189 closed, assigned to nobody

[2017-07-01 15:49] francoispottier commented on #185
Same issue here. Do we have to remove one or the other through composer.json?

Thanks!

[2017-07-13 15:22] abk3001 opened #190 "img transformation when image is not accessible"
Hi,
I have the following problem using your library :
In this tag :
`<img src="http://www.toutlecine.com/xml/logo_tlc_rss.png"  />`
the image http://www.toutlecine.com/xml/logo_tlc_rss.png is not accessible and the tag is replaced by :
`<img>`
and the amp format doesn't allow img without src.

thx for your work.

[2017-07-25 14:34] Alexandru-Dobre opened #191 "attributes used in amp-bind are removed"
Hello,

Currently, conversion removes attributes such as [text]="something" which are used in amp-bind. Is there any way through configuration to avoid this ?

Thanks

[2017-08-03 14:33] davereid commented on #185
I'm also getting the same error. It seems odd that src/validator-generated.php and Spec/valdiator-generated.php seem like the same file.

[2017-08-03 14:40] davereid commented on #185
It looks like this file was added in https://github.com/Lullabot/amp-library/pull/182 but instead of updating the existing file, it was just duplicated. I'm working on a PR to remove the duplication.

[2017-08-03 15:10] #185 closed, assigned to nobody

[2017-08-09 09:23] pravinagham opened #193 "data-captioned is not supported for instagram"
data-captioned is not validated & Parsed in output of instagram embedded string.

[2017-08-10 07:59] killerwolf opened #194 "ESI tags"
Hello,

we are using Varnish and its ESI features
the amp lib seems to remove them `<esi>` tags.

is there a way to exclude them, and let them as they are.

[2017-08-10 15:56] greg-42droids opened #195 "Convert picture tag to amp image"
Hi,
I spent a long time trying to figure out how to add an extra 'pass' to the amp library so I can convert ```<picture>``` tags to ```<amp-img>``` before they are stripped out.
Unfortunately, I can't seem to find the right way to do this so I decided to open a ticket and ask for help or at least some advice.

**The issue:**
Drupal Picture module creates similar syntax:

[code]

The above is conve

[2017-08-11 08:48] pravinagham commented on #193
data-captioned is not present validator-generated . how to add attribute data-captioned in this file?

[2017-08-16 16:48] tapankumar commented on #150
I checked out the latest code from here and also tried 1.1.2 release however on both codes i am getting below error.

<script async custom-element="amp-ad" src="https://cdn.ampproject.org/v0/amp-ad-0.1.js"> on line 479
- The tag 'script' is disallowed except in specific forms.
   [code: GENERAL_DISALLOWED_TAG  category: CUSTOM_JAVASCRIPT_DISALLOWED]
   ACTION TAKEN: script tag was removed due to v

[2017-08-16 16:54] tapankumar commented on #150
Just wanted to confirm that it is working fine with release 1.1.0. Why the same is not implemented on latest releases?

[2017-08-16 17:02] renzit commented on #150
I can confirm, im using amp-ad in production using this library so i can confirm it works. the tag script is added because you have some amp-ad tag in the html, if u add the script hardcoded and you dont have a amp-ad tag the script would be removed...I suspect that, but i need more info

[2017-08-16 17:24] tapankumar commented on #150
@renzit : Thanks for your quick reply.

I got it working with latest release 1.1.2 now.

My HTML was having hard coded script tag like below and i was having amp-ad tag as well.
[code]

So once firing below command, i was getting above mentioned error.
[code]

So i have removed all scripts (mentioned below) from my HTML and now this php library is adding all required libraries on its own in the he

[2017-08-18 08:00] deepank411 commented on #190
Any updates on this issue?

[2017-09-07 13:17] pravinagham commented on #193
Any idea on how to add data-captioned

[2017-09-15 15:11] buenahato opened #197 "custom-element="amp-auto-ads""
Hello,
I would like to add an adsense tag "amp-auto-ads" but it does not pass validation in amp?
How can I make it work?
Thank you in advance.

[2017-09-15 22:16] chadedge commented on #197
There's an open pull request for adding amp-sticky-ad that would be a good reference. Adding the amp-auto-ad to the Context class will help.
We accomplished this on my team by creating and applying a local patch.

[2017-09-27 02:20] ansonl opened #198 "Using custom attribute 'data-src' from original img element when creating amp-img element."
Hi,

I am trying to use the attribute **'data-src'** in my original img element as the **'src'** attribute in the amp-img element. My original HTML img elements are setup like below to interact correctly with the _[https://github.com/aFarkas/lazysizes](https://github.com/aFarkas/lazysizes)_ image lazy loading javascript plugin. A couple other lazyload plugins use the same attribute to manage the i

[2017-09-28 15:43] chrfritsch commented on #169
Could you explain why this belongs to Google? This is a Lullabot project...

[2017-10-03 06:47] tapankumar opened #199 "Twitter embed issue"
I am seeing twitter embed code issue since last few days.

Issue (In console of Chrome/Firefox): Tweet is not getting rendered:
Refused to execute script from 'https://cdn.syndication.twimg.com/tweets.json?callback=__twttr.callbacks.cb0&ids=915037232926400512%3Fref_src%3Dtwsrc%255Etfw&lang=en&suppress_response_codes=true&tz=GMT%2B0530' because its MIME type ('') is not executable, and strict MIME

[2017-10-03 09:27] tapankumar commented on #199
I have fixed this in below code.

src/Pass/TwitterTransformPass.php

Fixed getTweetId function.

//$tweet_id = $matches[1];
 $tweet_id = strtok($matches[1], "?");

Let me know if this is the right way. If yes, let me know if i can send a PR.

[2017-10-06 18:40] GromNaN opened #200 "Performance: Instanciating the AMP class takes 120ms"
Hello,

Above all, I would like to thank you for the high quality and reliability of this library. I'm using it for on  demand conversion of my HTML pages to AMP, in a Symfony application.

But just after the deployment this feature on production, I noticed a huge performance slump. Average response time went from 90ms to 210ms. The only fact of instantiating the `AMP` class takes 120ms, even if i

[2017-10-10 02:00] BrunoViera commented on #199
Hello all!
I have the same issue. Waiting this PR 👍

[2017-11-01 18:15] jvrdom commented on #193
Hi @pravinagham in this PR we can fix this issue: #205

Cheers 🍻

[2017-11-03 18:52] #193 closed, assigned to nobody

[2017-11-06 19:33] cmaillot commented on #194
The fix is enable here https://github.com/Lullabot/amp-library/pull/206

[2017-11-15 12:48] bekapod opened #207 "Font stylesheet from typekit is stripped out because it doesn't match the allowed font regex"
AMP supports typekit (not sure as of when):

https://blog.typekit.com/2017/08/30/css-font-loading/
https://www.ampproject.org/docs/guides/responsive/custom_fonts

[2017-11-21 10:37] mxhCodes opened #208 "validator-generated.php seems to be incomplete"
The specification is either out of date or incomplete.
Example:
amp-accordion has the attribute disable-session-states specified.

https://www.ampproject.org/docs/reference/components/amp-accordion

When using this attribute with this library, the validator will filter it out as it's not included as a specified attribute in validator-generated.php

Please check if you need to rebuild this file or

[2017-12-06 09:11] pc-magas opened #209 "Use later version of sebastian/diff"
I try to install the `lullabot/amp-library` you provide over my php project but when I do it I get the following errors:

[code]
As you can notice I use a later version of `sebastian/diff` therefore I cannot install it. So can you provide a version that work with a later version of `sebastian/diff`?

[2017-12-06 11:39] eng1neer opened #210 "Add option for converting relative image URLs to absolute"
I have a scenario where original HTML page has `<base>` tag. The relative URLs of images thus take this base URL into account.

The AMP usage of the `base` tag is restricted though to only a single value `/`. So relative image URLs no longer work after the conversion if the base tag was set to any value other than `/`.

I guess that this is not the common scenario, but the option to convert the UR

[2017-12-06 14:14] eng1neer commented on #210
Solved this by extending `ImgTagTransformPass` and injecting custom implementation into `Lullabot\AMP::passes`. Good to have this extension mechanism provided!

[2017-12-06 14:14] #210 closed, assigned to nobody

[2017-12-07 08:46] pc-magas commented on #209
I did the following pull request in order to fix it: https://github.com/Lullabot/amp-library/pull/211

[2017-12-12 17:12] camilou opened #212 "Allow Kaltura and BridTv embeded code"
Hi Guys,

Thanks a lot for the amazing work, I recently started using your library and it saved me a bunch of time!

I wanted to know if you have a plan to include support for Kaltura and Brid.tv video player, any chance you have this on some ToDo?

Thanks again!

Camilo

[2017-12-13 15:26] melvin-ibuildings opened #213 "Request scheme will never be HTTPS"
While using this library with the drupal module i noticed that absolute images in the format
`<img src="/myimage/image.png">` would not get translated to amp-img.

The images do not have a width or height so it has to load the images to find these.

This part in the README looked much like my problem but did not seem to be the fix i needed as it did not work after following the tips.

When debuggi

[2018-01-31 11:03] harry503 opened #215 "Image tag <img> not being converted"
<img alt="" height="385" src="https://assets.demo.com/nuna.JPG" width="1123" />

is not converted properly, instead it's still img tag with empty alt tag

<img alt="" src="https://assets.demo.com/nuna.JPG"> therefore it's failing Google AMP Validation.
The tag 'img' may only appear as a descendant of tag 'noscript'. Did you mean 'amp-img'?

[2018-02-05 12:13] ydegtyar opened #216 "Uncaught Exception on old html that using <!--[if !IE]> tags"
Uncaught Error: Call to a member function appendChild() on null in /vagrant/footboom/vendor/querypath/querypath/src/QueryPath/DOMQuery.php on line 1461

HTML example
[code]

[2018-02-16 18:58] astoctas opened #217 "Include amp-video extension.js"
AMP Validator throws this error:
The tag 'amp-video extension .js script' is missing or incorrect, but required by 'amp-video'. This will soon be an error. Debug. Learn more.

Thanks, regards.

[2018-02-22 16:37] cordoval commented on #215
i got the same result, i am not sure this library is being used right but, can anyone help?

[2018-02-27 09:50] karltud123 opened #218 "amp-sticky-ad is being removed"
Hi,

I wondering why amp-sticky-ad is being removed on my page.

Here is the log i'm getting.

![image](https://user-images.githubusercontent.com/7922154/36721670-868a711e-1be6-11e8-926d-538f7fb8ed15.png)

Basically, im adding the script on the head as it is not added automatically, then i'm adding the amp-sticky-ad at the body content

`
<amp-sticky-ad layout="nodisplay">
  <amp-ad width="320"

[2018-02-27 22:13] #216 closed, assigned to nobody

[2018-03-06 17:12] renzit commented on #218
i fixed it in a pull request, the changes are accepted but wasnt merged yet.
Heres is the link:
https://github.com/Lullabot/amp-library/pull/196

I Dont know when would be a new tag release or if these would be merged soon, meanwhile you can make a patch for this in the composer, you need:

`"cweagans/composer-patches": "^1.6"`

And
[code]

[2018-03-09 12:55] okovpashko commented on #217
@astoctas you can get an array of required component scripts via `$amp->getComponentJs()`, pass it to your template and render required `<script>` tags.

[2018-03-14 08:15] karltud123 commented on #218
Hi,

Will this work also in Drupal 7?

[2018-03-14 11:18] renzit commented on #218
Yes! all of this is implemented on drupal 7.
Take a look: https://www.vix.com/pt/comportamento/556372/estudo-descobriu-o-salario-ideal-para-ser-feliz-concorda?amp
In this site, for now, all the amp are articles converted with this library, so everithyng you see there could be done whit this repo and some little fixes and maintainence.

[2018-03-14 18:53] MichaelHallCBS opened #220 "rtc-config attribute is getting stripped from <amp-ad> tags"
I need to add the rtc-config attribute to our <amp-ad> tags. Currently this is getting stripped by the amp validator.  I see that 'rt-config' is listed in the amp-ad validor  .protoascii file (amphtml/extensions /extensions/amp-ad/validator-amp-ad.protoascii). See excerpt from file below.

amphtml/extensions /extensions/amp-ad/validator-amp-ad.protoascii

  attrs: { name: "alt" }
  attrs: { name:

[2018-03-15 05:51] karltud123 commented on #218
Great!  I asked because I tried it and still gives me the same issue... will check more..

maybe you have any ideas?

[2018-03-15 15:48] naeh commented on #215
Hi there,

same problem here, did someone found a solution ?

here is an url where you can see it : http://www.lindependant.fr/amp/2017/05/05/aude-188-communes-touchees-par-le-gel,3012047.php#development=1

Thanks,

[2018-03-15 15:52] cordoval commented on #215
the reason why it is not converted is because on amp you need to specify width and height

closing sorry

[2018-03-15 15:52] cordoval commented on #215
@harry503 please close

[2018-03-15 16:07] naeh commented on #215
@cordoval you dont have to specify width / height, the lib will try to get the information using getimagesize().

check this : https://github.com/Lullabot/amp-library/blob/master/src/Pass/ImgTagTransformPass.php#L39

here is an other url where one image is not converted when lot of others are : http://www.lindependant.fr/amp/2016/08/08/journee-internationale-du-chat-envoyez-nous-vos-lolcat,2240497

[2018-03-16 13:32] renzit commented on #218
mmm,  here are the validations, for sure it need a child AMP-AD:
https://github.com/ampproject/amphtml/blob/master/extensions/amp-sticky-ad/validator-amp-sticky-ad.protoascii

show your implementation!

[2018-03-20 10:03] karltud123 opened #221 "ACTION TAKEN: img tag could NOT be converted to the amp-img tag as the image is not accessible"
Hi,

Anyone know any workaround on how to fix this issue?

When the img HTML does not contain any width and height it says the error

`ACTION TAKEN: img tag could NOT be converted to the amp-img tag as the image is not accessible`

But if it has its okay, any workaround or is there a proper way I need to do to fix it?

Thank you in advance.

[2018-03-20 12:38] sarath49 opened #222 "amp-sidebar is being removed"
While trying to use amp-sidebar more than once on same page, it removes all other amp-sidebar except for first.

I am facing issue as in #3320 of amphtml issues log,  while plain html works fine, while implementing it in drupal 7 websites second implementation of amp-sidebar is seems to be removed by Lullabot amp-library.

This is the sample html where second implementation of amp sidebar is being

[2018-03-26 09:05] umpirsky opened #223 "Update dependencies"
-  `sebastian/diff: ^3.0`

[2018-03-28 11:55] ghost commented on #209
This library is currently uninstallable on Drupal 8 projects created from Drupal Project, which I reported on Drupal AMP at https://www.drupal.org/project/amp/issues/2956657 and on Drupal Project at https://github.com/drupal-composer/drupal-project/issues/375.

This fix might resolve that problem. I don't know if this will break other things or not and I'm not sure how to tell. However the linked

[2018-03-28 13:53] venkatesh-innoppl commented on #151
Hi All,

Anyone found a solution to include form tags in AMP HTML?

[2018-03-29 14:53] okovpashko opened #225 "<img> tags with SVG image is not converted to <amp-image>"
If a source HTML has an SVG image in the `<img>` tag this tag won't be converted to `<amp-image>`.
As I understand the reason for this issue is that AMP library cant get the size of an SVG image using fast-image-size lib.
I know that SVG images don't have exact width and height. But the size attributes on `<amp-img>` are required to get just the aspect ratio if the image, so maybe it's possible to

[2018-03-29 15:16] venkatesh-innoppl opened #226 "AMP bind script is being removed"
AMP bind script is removed while running the web page through amp-library. Can anyone suggest a fix?

[2018-03-31 11:34] ghost commented on #209
I misspoke. The patch in #211 breaks tests but this patch works: [#219](https://github.com/Lullabot/amp-library/pull/219)

[2018-03-31 11:39] ghost commented on #223
This is basically a duplicate of [issue 209](https://github.com/Lullabot/amp-library/issues/209)

[2018-03-31 11:39] #223 closed, assigned to nobody

[2018-03-31 11:41] ghost commented on #174
Yes, it's already difficult to support both PHP 5.5 and PHP 7. PHP 5.3 has even more differences, and is EOL.

[2018-03-31 11:41] #174 closed, assigned to nobody

[2018-03-31 13:26] ghost commented on #209
This has been pulled in and it solves the problems adding this package to Drupal 8.

[2018-03-31 13:26] #209 closed, assigned to nobody

[2018-04-04 16:31] Ricael commented on #221
Hi,

Are you using relative image path or absolute ? I had the same error when using relative image ULRs.
Not writing any width or height inside the <img> tag, works just fine.

This does not work for me:
`<img src='//path/to/image.jpg'/>`

This works!.
`<img src='http://my.domain.com/path/to/image.jpg'/> `

[2018-04-13 19:04] tosinamuda opened #230 "Can I Convert Remote Page on my terminal"
Using the terminal options is there a way to put in a remote url and convert like
./amp-console amp:convert https://how-to.ng

[2018-04-16 12:40] killerwolf commented on #200
we're experiencing the same issue here

[2018-04-19 07:01] sarath49 commented on #222
on line 270 - The tag 'amp-sidebar' appears more than once in the document. [code: DUPLICATE_UNIQUE_TAG category: MANDATORY_AMP_TAG_MISSING_OR_INCORRECT see: https://github.com/ampproject/amphtml/blob/master/extensions/amp-sidebar/amp-sidebar.md] ACTION TAKEN: amp-sidebar tag was removed due to validation issues. on line 283 - The tag 'amp-sidebar' appears more than once in the document. [code: DU

[2018-04-19 07:04] sarath49 commented on #222
This is no more a bug in AMP Project and has been added and is being used in current implemtation of AMP Project with amp-sidebar being used more than once.

https://github.com/ampproject/amphtml/issues/6104

However, Lullabot amp library removed any other implementation of amp-sidebar.

[2018-04-19 07:27] sarath49 commented on #222
validator-generated.php is old implementation is not updated.

[2018-04-19 07:32] sarath49 opened #231 "Validator Generated (validator-generated.php file) needs update"
validator-generated.php file has not been updated for 2 years and there are several implementation like the issue

https://github.com/Lullabot/amp-library/issues/222

which removed second or more implementation of side bar.

[2018-05-11 16:25] karltud123 commented on #221
Hi.

Im using absolute path. I understand now the problem that the image needs to have width and height to work

Thanks.

[2018-05-14 10:21] mxhCodes commented on #231
Another thing which does not work because the validator is old like my gandpa:
amp-list when using further attributes "items" and "single-item".

Please update the validator.

[2018-05-14 12:18] mxhCodes commented on #231
Seems that the fork needs a synchronization with the original AMPHTML repo first to get a new generated validation file: "This branch is 12 commits ahead, 5647 commits behind ampproject:master."

[2018-05-23 15:07] timonweb commented on #231
Any plans on updating validator-generated.php? AMP has got many new tags which isn't possible to use due to outdated validator-generated.php.

[2018-05-23 15:10] mxhCodes commented on #231
Currently seems to be not easy, see also https://www.drupal.org/project/amp/issues/2962305

[2018-05-24 11:11] tapankumar opened #233 "amp-geo and amp-consent issue"
Hi,

I am implementing amp-geo and amp-consent on our pages as per below article.

https://ampbyexample.com/user_consent/geolocation-based_consent_flow/

However once getting validated by amp-library, the same is getting removed.

My query is, is this library is compatible with amp-geo and amp-consent?

[2018-06-08 10:41] coderkakarrot opened #234 "The tag 'amp-user-notification extension .js script' appears more than once in the document."
I have added a custom element **amp-user-notification** in the template file. But I am getting following error when validated using AMP validator:
The tag 'amp-user-notification extension .js script' appears more than once in the document. This will soon be an error.
I have verify it on plain vanilla installation of both Drupal 7 and Drupal 8. same issue is persisting.

[2018-06-08 10:51] coderkakarrot commented on #234
[Pull Request](https://github.com/Lullabot/amp-library/pull/235) will fix this issue.
@sidkshatriya  Please review.

[2018-06-15 01:44] andreaskoepke commented on #207
I have encountered this issue as well, rather frustrating.

[2018-06-15 04:30] andreaskoepke commented on #207
I have tried to rebuild the  validator-generated.php file as per the instructions but for the new regex to be included the underlying validator code needs to be updated. I have attempted this but there are significant changes to the customised build.py and other files.

[2018-06-19 07:04] sumeetj commented on #234
@pratik17893  - Just in case if this helps https://github.com/ampproject/amphtml/issues/14690 . I mentioned the same to contributors and they have confirmed its not the library issue , hope after seeing your PR here now they should 👍

FYR: https://github.com/ampproject/amphtml/issues/14690#issuecomment-382600257

cc: @liannario

Thanks,
Sumeet

[2018-06-26 20:36] guiajlopes opened #236 "Avoid instagram calls"
Hi,

Is that possible to avoid Instagram calls in the convertion? I see that we make the call only to get the dimensions, I think using the default ones should be fine. Maybe we should have a parameter to allow or not allow calls.

I have some pages with a lot of instagram embedes and the page load takes a lof of time because of that

[2018-07-04 10:24] Alexkurd opened #238 "Feature request: Get JS list as array for body scope"
"The AMP library will add the appropriate AMP component <script> tag to the <head> if it is provided a full html document."
Please make $amp->getComponentJs() contain a list of components to load even for body scope.

[2018-08-09 22:39] marcosalberto commented on #215
I have a similar problem, there is a img tag without src attribute and the lib doesn't convert or remove the tag.

Example: http://www.tnh1.com.br/amp/nid/extensao-dedura-tudo-o-que-o-facebook-sabe-sobre-suas-fotos-confira/

[2018-08-29 12:37] mmendjeli commented on #220
Hi there any feedbacl on this issue?
I also have the problem and cannot preserve the "rtc-config" attribute on amp-ad tag.

[2018-09-13 09:56] daniyals opened #240 "missing include script of amp-facebook on image or video"
This HTML is correctly converted but needs an include to validate the HTML

`<amp-facebook layout="responsive" data-href="https://www.facebook.com/dominospakistan/videos/10156251051977349/" data-embed-as="post" height="315" width="560"></amp-facebook>`

include required in the header:
`<script async custom-element="amp-facebook" src="https://cdn.ampproject.org/v0/amp-facebook-0.1.js"></script>`

o

[2018-09-17 09:08] tapankumar opened #241 "AMP Live Blog (Live-List) Support"
Hi,

I am trying to implement live-list feature of AMP.

https://ampbyexample.com/components/amp-live-list/

Is it supported by this library?

As soon as i am adding amp-list-list JS on my header, this library is removing the same.

[2018-09-18 09:36] iransamaneh opened #242 "Malformed URL validator for attribute 'href' in tag 'a' is missing"
using an a tag with malformed url like **https://.sample.com/test/route** in [AMP validator](https://validator.ampproject.org) led to following error without any warning or error in _convertToAmpHtml_ method

sample code

`<a href="https://.sample.com/test/route">test link</a>`

tested with _master_ source code version  of _amp-library_ using _composer_ and _php 5.6_

[2018-10-01 10:12] #240 closed, assigned to nobody

[2018-10-26 21:06] carlospaz-jobsity opened #246 "Tags being removed"
Hi
Please I need help adding support to amp tags like amp-selector

[2018-10-30 08:57] guiajlopes commented on #200
same issues here, does anyone find a fix for that?

[2018-11-06 22:51] carlospaz-jobsity commented on #246
@sigginet @renzit I see you've helped with similar issues, would you mind giving me a hand? Would be very grateful.

[2018-11-13 17:40] #246 closed, assigned to nobody

[2018-11-19 13:06] bartekmis opened #247 "Declaration of Lullabot\AMP\Utility\AMPHTML5::parse error"
Hi,

today I have spotted very frustrating issue that broke my site...

`Declaration of Lullabot\AMP\Utility\AMPHTML5::parse(Masterminds\HTML5\Parser\InputStream $inputstream, array $options = Array) should be compatible with Masterminds\HTML5::parse($input, array $options = Array)`

Is there any chance you could fix that quickly?

[2018-11-19 14:07] Cerzat43 commented on #247
I had the same problem. To fix this error, I had to limit the version of `masterminds/html5` in my project.
[code]

[2018-11-19 14:16] bartekmis commented on #247
Hi,

can you please let me know how you have managed to limit the version of `masterminds/html5`? In my Laravel project in composer.json I have only `"lullabot/amp": "^1.1"`. I do not want to edit the composer.json of the package in vendor of course. Is there any quick workaround for this issue until the official fix is on place?

[2018-11-19 14:30] yasin749 commented on #247
Hii
I did the version push

[2018-11-19 14:50] Cerzat43 commented on #247
@bartekmis you can add `"masterminds/html5": "2.3.*",` in your Laravel composer.json just after `"lullabot/amp": "^1.1"`.

[2018-11-19 15:27] bartekmis commented on #247
Hi,
thank you for your help, it worked like a charm (as a quick fix/temp workaround). It still would be super good if the official Lullabot/amp-library package was officialy fixed though.

[2018-11-19 17:22] Cerzat43 commented on #247
:+1:

[2018-11-30 12:45] ghost commented on #247
The library has been pinned to 2.3 now.

[2018-11-30 12:45] #247 closed, assigned to nobody

[2018-11-30 15:18] vLeonovNekki opened #253 "placeholder for iframe"
Is it possible to pass any options in loadHtml() method to insert placeholder in iframes?
https://github.com/ampproject/amphtml/blob/master/extensions/amp-iframe/amp-iframe.md#iframe-with-placeholder

[2018-12-05 00:58] Jorenm commented on #226
I have the same issue.

[2018-12-05 12:04] marcelovani commented on #226
The list of valid tags need to be updated, see #231

[2018-12-05 12:06] marcelovani commented on #220
The validator needs update, see #231

[2018-12-05 12:07] marcelovani commented on #208
The validator needs update, see #231

[2018-12-05 12:08] marcelovani commented on #197
The validator needs update, see #231

[2018-12-05 12:08] marcelovani commented on #191
The validator needs update, see #231

[2018-12-05 12:11] marcelovani commented on #231
See another discussion here #181

[2018-12-05 19:55] westonruter commented on #181
I suggest using the generated PHP file in the AMP WordPress plugin: https://github.com/Automattic/amp-wp/blob/develop/includes/sanitizers/class-amp-allowed-tags-generated.php

We'd like to work on extracting this into a Composer package as well to make it easier to incorporate.

[2018-12-05 19:56] westonruter commented on #231
I suggest using the generated PHP file in the AMP WordPress plugin: https://github.com/Automattic/amp-wp/blob/develop/includes/sanitizers/class-amp-allowed-tags-generated.php

We'd like to work on extracting this into a Composer package as well to make it easier to incorporate.

Here's the Python script that generates the file from the latest amphtml release: https://github.com/Automattic/amp-wp/b

[2018-12-07 11:16] marcelovani commented on #231
Hi @westonruter

I was very curious to see this working, and I did some experiments as a proof
of concept. I actually did the opposite first, I moved some code from AMP WP into
the AMP Library to prove that WP can work with it.
The next step would be to start porting the code from WP Plugin into the library
or perhaps updating the library, whatever makes more sense.
Please have a look at this and

[2018-12-11 12:33] Alexandru-Dobre opened #255 "allowfullscreen attribute not preserved when converting iframe to amp-iframe"
This is problematic when using embeds such as maps that require full screen for optimal user experience.

[2018-12-11 19:06] gibbs commented on #215
Late reply but just stumbled across this open issue as I'm having a similar issue.

These images are PNG and not JPEG;

https://images.lindependant.fr/api/v1/images/view/5a96d6a78fe56f462738cc1f/large/image.jpg
`PNG image data, 519 x 520, 8-bit/color RGB, non-interlaced`

https://images.lindependant.fr/api/v1/images/view/5a96a3498fe56f44223d1b36/full/image.jpg
`PNG image data, 657 x 438, 8-bit/col

[2019-01-19 04:54] purserj commented on #215
A further note on this issue.

I'm using CKEditor which applies image height and width as a style attribute on the image. This is NOT being picked up by the amp img conversion. Have tested by manually specifying HTML height and width and it works a charm.

[2019-01-26 18:22] jfxcube commented on #215
Hello i' m having the same issue if i use https..
Same code, same permissions, same directories, same everything works with HTTP protocol, but if i use HTTPS, images are not converted at all. Browser retrieves images in both cases with no problems

Any idea?

[2019-02-07 16:14] francoispottier commented on #150
Hello all!
Just a quick up on this: I happen to have an ad script (for Outbrain, FYI) as an amp-embed tag, not an amp-ad tag. Therefore the js head script is stripped as welm.
So the fix done before should also include the case of an amp-embed tag, not only amp-ad.

[2019-02-13 14:15] DPintaUAV opened #256 "The AMP module requires the PHP AMP library."
I am trying to install the library on my drupal website and i am not able to do it.

Can anybody tell me a step-by-step instruction?

The complete mensage from drupal is

The AMP module requires the PHP AMP library. Install using composer manager

Thank you.

Regards.
 

[2019-02-13 14:15] DPintaUAV commented on #256
I am using drupal 7. sorry.

Thank you.

[2019-02-14 15:17] rrjanbiah opened #257 "<style> tag not being converted"
When a HTML content contains `style` tag, it doesn't convert it. Few weird things happen:

1. `$amp->convertToAmpHtml()` completely removes `style` tag
2. **But**, `$amp->warningsHumanText()` displays error something like (from input string--not output string):

[code]

Context: Using `$amp->loadHtml($html, ['scope' => Scope::HTML_SCOPE]);`

[2019-03-25 12:19] muinh opened #258 "New feature: Amp-facebook-comments"
Hi. I'd like to thank you for this library. You saved me a lot of time including the fact that it works in a proper way.
It would be nice to see amp-facebook-comments in new versions.
Now there is a case when I'm adding facebook iframe with comment inside. It converts the iframe to <amp-facebook> and shows not comment but facebook page with src in iframe pointing on it.

Now I'll write a custom so

[2019-04-01 13:03] owlcoder13 opened #259 "amp-lighbox tag missing scrollable attribute"
AMP class removes attribute scrollable from amp-lightbox tag. In official documentation it exists.
https://www.ampproject.org/docs/reference/components/amp-lightbox

[2019-04-17 06:51] shakeel-latif opened #261 "The tag 'script' is disallowed except in specific forms"
Hi,

<script async src="https://cdn.ampproject.org/v0.js"></script>

        <script async custom-element="amp-bind" src="https://cdn.ampproject.org/v0/amp-bind-0.1.js"></script>
        <script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></s

[2019-05-08 06:57] softlogique1 opened #262 "Integration with YII framework"
I am integrating this library with YII framework but it is not working and always gives error that AMP class not found.

[2019-05-14 19:16] westonruter commented on #231
I've filed https://github.com/ampproject/amp-wp/issues/2315 to begin an exploration into extracting the logic from the AMP WordPress plugin into something which can be re-used by PHP-based CMSes.

[2019-05-19 11:19] imansa opened #263 "standard amp-selector is being removed"
amp validator is removing **amp-selector** tag because it is not defined on **Lullabot\AMP\Spec\ValidationRulesFactory** class

this is link to tag documents
[link to amp-select tag on amp.dev](https://amp.dev/documentation/components/amp-selector?format=websites)

[2019-05-19 11:55] imansa commented on #263
a sample from warnings

[code]

[2019-05-28 09:15] szatom opened #264 "TwitterTransformPass | Invalid HTML cause fatal error"
On invalid HTML (blockqoute in blockqoute) the TwitterTransformPass fails with a fatal error:
[code]

E.g. an invalid HMTL:
[code]

[2019-06-17 17:07] chris-refactor73 opened #266 "is this repo dead?"
hi,
thank you for this great tool!
it works like charm for our purposes
but if i check the last modified dates it shows me it was modified years ago...
it would be nice if you could give me a hint: is this project still under maintenance, or is there another/better/up-to-date module for html2amp convertion?
thank you very much

[2019-06-17 17:19] westonruter commented on #266
Based on recent conversations, the current plan is to extract the logic from the WordPress AMP plugin into an updated standard library for PHP-based CMSes to use for converting, sanitizing, and validating HTML as AMP. This would then be maintained under the AMP project. See https://github.com/ampproject/amp-wp/issues/2315.

[2019-06-18 07:17] chris-refactor73 commented on #266
Thank you!

[2019-06-18 07:17] #266 closed, assigned to nobody

[2019-10-09 19:30] m4olivei commented on #236
I also noticed this today. I had one transaction Trace in New Relic wherethe Instagram call hung for over 2min. I think at least, the connection should have a timeout.

[2019-12-23 11:37] justid opened #268 "inline style removed from div block"
[code]

output:
[code]

I was so confused, why is that?I thought inline-style was legally in AMP page.

[2019-12-23 11:58] justid commented on #268
[code]

[2019-12-24 09:54] justid commented on #268
I fixed this in my [repo](https://github.com/justid/amp-php-active)

[2019-12-24 09:54] #268 closed, assigned to nobody

[2020-02-10 21:02] echosa commented on #264
I'm also experiencing this. I'm not sure where this blockquote-in-blockquote HTML comes from (from Twitter, from TinyMCE input, etc), but it happens often enough to be a pretty major issue. Up to this point, the only thing I've been able to do is manually fix the invalid HTML (content stored in DB) individually every time this happens.

Is there a better way to handle this, or a fix that could be

[2020-03-05 14:55] amixel opened #269 "Not Work Tag <picture>"
Hi, not work TAG html `<picture> `and `<source>`

[code]

Not convert to AMP

[2020-03-05 14:56] amixel commented on #269
Link exemple correct: https://cloudhoreca.com/en/blog/amp-webp-fallback.html

[2020-03-12 16:18] apugacescu opened #270 "Error "The script tag for amp-user-notification is likely included twice in the page". Circular dependency in validator-generated.php"
## What's the issue?

Using Drupal 8 with stable amp module version 2.1 https://www.drupal.org/project/amp/releases/8.x-2.1
and amp-library version 1.1.4

## How do we reproduce the issue?

Include amp-user-notification element, the library will attempt to add the dependencies automatically for this custom element.
validator-generated.php stores the spec for the amp elements and amp-user-notificat

[2020-03-13 16:28] echosa commented on #264
@szatom @parsnick FYI - https://github.com/Lullabot/amp-library/pull/271

[2020-04-24 20:31] m4olivei commented on #236
@guiajlopes Would you mind taking a look at #273 ?

[2020-04-27 14:34] umpirsky opened #274 "Support for new masterminds/html5 v2.7.0"
Pinning to `2.3.0` blocks upgrade of other packages that require newer `masterminds/html5`.

[2020-04-28 17:06] #236 closed, assigned to nobody

[2020-05-16 11:27] der-pun opened #275 "Inline css for table is removed"
background color for td,th is removed. Please look into this. Thanks

[2020-06-03 05:59] forgie1 opened #276 "support of PHP 7.4"
Do you plan tu support PHP 7.4. ?

[2020-06-17 00:22] avhgaray opened #279 "Convert from Instagram TV post"
Instagram TV posts are not parsed correctly

For example:
https://www.instagram.com/tv/B4SQ6qAn1IS

[2020-08-04 09:15] bekapod commented on #207
Closing this as this doesn't affect me anymore and it persists in my github issues list (also, maybe it's already done, not sure 😃)

[2020-08-04 09:15] #207 closed, assigned to nobody

[2020-09-11 19:24] oreyne commented on #279
I solved changing the line 154 in InstagramTransformPass::getShortcodeAndUrl function to this new regular expression:
preg_match('&(*UTF8)instagram.com/(p|tv)/([^/]+)/?&i', $href, $matches). This library support only posts (/p/). You can add /tv/ for IGTV

[2020-09-11 20:49] Rapid0s opened #281 "DISALLOWED_TAG on amp-google-document-embed"
I am getting an error while parsing html with a pre-applied amp-google-document-embed tag.
https://amp.dev/documentation/components/amp-google-document-embed/

- The tag 'amp-google-document-embed' is disallowed.
   [code: DISALLOWED_TAG  category: DISALLOWED_HTML]
   ACTION TAKEN: amp-google-document-embed tag was removed due to validation issues.

Is this normal or I have something wrong with my

[2020-09-11 22:37] westonruter commented on #281
Can you share a screenshot of where you're seeing that? I tried this into a Custom HTML block:

[code]

Like so:

![image](https://user-images.githubusercontent.com/134745/92978380-740a3180-f444-11ea-8353-9fb49c0551c5.png)

I get no validation errors.

On an AMP page it renders as expected:

![image](https://user-images.githubusercontent.com/134745/92978459-a74cc080-f444-11ea-9001-7db2bc116802.png

[2020-09-11 22:39] westonruter commented on #281
My apologies. I thought this issue was opened for the AMP plugin for WordPress.

In any case, I believe the issue is that `amp-library` has not been updated to include support for `amp-google-document-embed`. In the context of the WordPress plugin, we are going to be extracting the PHP logic from the plugin so that it can be used in the Drupal module or any other PHP-based CMS. See https://github.

[2020-09-30 07:50] arunspl opened #282 "Signed exchange issues"
Google search console detected signed exchange issues
https://support.google.com/webmasters/answer/7450883#sgx_warning_list

The header 'link' for the signed exchange payload has an invalid value.

What about possibility to implement similar signed exchange functionality like in https://github.com/ampproject/amppackager ?

[2020-10-15 10:33] darkperis opened #285 "Laravel 8 support"
Please add support for Laravel 8

[2021-01-05 17:09] ghost commented on #268
I also need this, and as you said based on the AMP documentation it is valid, so I propose to create a PR for this.

[2021-02-10 13:56] ghost opened #288 "Set data-locale for FacebookNonIframeTransformPass"
Currently, the [amp-facebook](https://amp.dev/documentation/components/amp-facebook/) plugin supports the data-locale attribute, but this library is not setting that attribute if exists.

[2021-03-23 12:13] Berdir opened #290 "Local image URL detection loses query arguments"
If you have an image URL like "/sites/default/files/styles/my_style/public/foo/bar/image.jpg?itok=gz66czQz", which is common in Drupal, then the parsing drops the itok query argument, so if the generated image doesn't exist yet, it results in a 404 page. That results in not showing the image at all, and even worse, it seems to trigger a weird condition where the fast image size detection library s

[2021-05-11 19:35] prathamesh-gharat commented on #225
Why is it using fast-img-size lib even if the `width` & `height` attributes are present on the `img` tag with a svg as `src`?

If I remove the following condition block, svg tag is successfully converted to `amp-img` tag ONLY if it already has the `width` and `height` attributes. If it doesn't then the ~~entire image tag disappears~~ empty `<img>` tag is left behind (without any attributes) withou

[2021-08-06 08:25] jaykumarpawar opened #294 "<amp-accordion> should allow expand-single-section attribute."
<amp-accordion> should allow expand-single-section attribute. currently it allows animate attribute.

[2021-09-24 19:26] #288 closed, assigned to nobody

[2021-12-21 22:06] AnnaMariaR opened #301 "After converting to amp html, amp-script component is discarded from the template"
After converting to amp html, amp-script components are discarded from the document.
For example we have:

![image](https://user-images.githubusercontent.com/47395813/147004220-bf76a6ea-769f-4ebd-bf10-04cbd279bdcb.png)
After converting with `convertToAmpHtml()` method from the library, the amp-script and its script are being removed even if they are valid in amp.
I guess PHP library lullabot is re

[2022-05-10 12:12] vikashgirnar opened #302 "Not working with php8.1.5"
During inheritance of IteratorAggregate: Uncaught yii\base\ErrorException: Return type of QueryPath\DOMQuery::getIterator() should either be compatible with IteratorAggregate::getIterator(): Traversable, or the #[\ReturnTypeWillChange] attribute should be used to temporarily suppress the notice in /vendor/querypath/querypath/src/QueryPath/DOMQuery.php

[2022-07-14 21:37] criley commented on #302
I am also running into this issue. Any word on getting it cleaned up?

[2022-08-29 17:04] m4olivei opened #305 "Rename `master` branch to `main`"
# Rationale

See https://architecture.lullabot.com/adr/20220511-use-inclusive-language/

# References

* https://github.com/github/renaming#rename-existing
* https://docs.github.com/en/repositories/configuring-branches-and-merges-in-your-repository/managing-branches-in-your-repository/renaming-a-branch
* https://grrr.tech/posts/2022/master-to-main/

# To do:

- [x] Rename branch via Github UI
- [x

[2022-08-29 18:24] #305 closed, assigned to nobody

[2022-08-29 20:30] #264 closed, assigned to nobody

[2022-11-24 09:27] luigimannoni commented on #302
https://www.drupal.org/project/feeds_ex/issues/3299193

Here they swapped the querypath/querypath library with a more recent fork: https://github.com/arthurkushman/querypath